<div class="resource flex-group-center">
    <label for="data.hp.value" class="resource-label">{{localize "HM.hp"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="data.hp.value" value="{{data.data.hp.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="text" name="data.hp.max" value="{{data.data.hp.max}}" data-dtype="Number"/>
    </div>
</div>
<div class="resource flex-group-center">
    <label for="data.sp.value" class="resource-label">{{localize "HM.sp"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="data.sp.value" value="{{data.data.sp.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="number" name="data.sp.max" value="{{data.data.sp.max}}" data-dtype="Number"/>
    </div>
</div>
