<img src="systems/hackmaster5e/styles/assets/logo_gs_txt.png">
{{#with data.data}}
{{#if (neq sp.max 0)}}
<figure class="fraction">
    <label for="data.sp.value" class="resource-label">{{localize "HM.sp"}}</label>
    <input type="number" name="data.sp.value" value="{{sp.value}}" onwheel="this.blur()" data-dtype="Number"/>
    <div class="divisor"></div>
    <label for="data.sp.max">{{sp.max}}</label>
</figure>
<figure class="fraction">
{{else}}
<figure class="fraction bp-skip"> 
{{/if}}
    <label for="data.hp.value" class="resource-label">{{localize "HM.hp"}}</label>
    <label for="data.hp.value">{{hp.value}}</label>
    <div class="divisor"></div>
    <label for="data.hp.max">{{hp.max}}</label>
</figure>
<figure class="fraction">
    <label for="data.ep.value" class="resource-label">{{localize "HM.ep"}}</label>
    <input type="number" name="data.ep.value" value="{{ep.value}}" onwheel="this.blur()" data-dtype="Number"/>
    <div class="divisor"></div>
    <input type="number" name="data.ep.max" value="{{ep.max}}" data-dtype="Number"/>
</figure>
{{/with}}
