<span class="flexrow">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <div>
            {{#if actor.race.name}}{{actor.race.name}}{{/if}}
        </div>
        <div>
            {{#if actor.class.name}}{{actor.class.name}}{{/if}}
        </div>
    </div>
</span>
