{{#with actor}}
<span class="flexrow">
    <img src="{{img}}" data-edit="img" title="{{name}}"/>
    <div>
        <input class="name" name="name" type="text" value="{{name}}" placeholder="Name"/>
    {{#if (eq type 'character')}}
        <div>
        {{localize (concat 'HM.alignmentShort.' system.priors.alignment)}}
        {{#if race.system.adj}}
            {{race.system.adj}}
        {{else}}
            {{race.name}}
        {{/if}}
        {{#if cclass}}
            {{cclass.name}}-{{cclass.system.level}}
        {{/if}}
        </div>
        {{#with system.priors}}
        <div>
            {{#if height}}
            <label class="bold-label">{{localize 'HM.height'}}</label>: {{height}} in,
            {{/if}}
            {{#if weight}}
            <label class="bold-label">{{localize 'HM.weight'}}</label>: {{weight}} lbs,
            {{/if}}
            {{#if age}}
            <label class="bold-label">{{localize 'HM.age'}}</label>: {{age}}
            {{/if}}
        </div>
        <div>
            {{#if sex}}
            <label class="bold-label">{{localize 'HM.sex'}}</label>: {{sex}},
            {{/if}}
            {{#if handedness}}
            <label class="bold-label">{{localize 'HM.handedness'}}</label>: {{localize (concat 'HM.handednessSelect.' handedness)}}
            {{/if}}
        </div>
        <div>
            {{#if hair}}
            <label class="bold-label">{{localize 'HM.hair'}}</label>: {{hair}},
            {{/if}}
            {{#if eyes}}
            <label class="bold-label">{{localize 'HM.eyes'}}</label>: {{eyes}}
            {{/if}}
        </div>
        <div>
            {{#if gawd}}
            <label class="bold-label">{{localize 'HM.deity'}}</label>: {{gawd}}
            {{/if}}
        </div>
        {{/with}}
    {{/if}}
    </div>
</span>
{{/with}}
