<form class='hackmaster'>
    <span class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{selectOptions weaponsList selected=widx}}
        </select>
    </span>
    <span class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </span>
    <section class='grid-2col' style='gap: 0 20px;'>
        <span class='form-group'>
            {{#if (eq SPECIAL.RDEFEND specialMove)}}
            <label>{{localize 'HM.dialog.getRangedDefend'}}</label>
            <select name='defense' class='bind' data-prop='rDefDie' data-render=true style='max-width: 7em;'>
                {{selectOptions (findConfigObj 'defDieRanged') selected=rDefDie localize=true}}
            </select>
            {{else}}
            <label>{{localize 'HM.dialog.getDefendDie'}}</label>
            <select name='defense' class='bind' data-prop='defDie' data-render=true style='max-width: 7em;'>
                {{selectOptions (findConfigObj 'defDie') selected=defDie localize=true}}
            </select>
            {{/if}}
        </span>
        <span class='form-group'>
            <label>{{localize 'HM.bonus'}}</label>
            <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus' placeholder=0 type='number'/>
        </span>
        {{#if canDodge}}
        <span class='form-group'>
            <label>{{localize 'HM.dodge'}}?</label>
            <input type='checkbox' class='bind' data-prop='dodge' {{checked dodge}}>
        </span>
        {{/if}}
    </section>
    <section class='dialog-buttons'>
        <button type='submit' class='dialog-button normal default'
            data-prop='defend'
            data-value=false
            data-render=false>
            {{localize 'HM.defend'}}
        </button>
    </section>
</form>
