<form>
    <div class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' id='weapon-select'>
            {{#select widx}}{{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
                {{/each}}{{/select}}
        </select>
    </div>
    <div class='form-group'>
        {{#if ranged}}
        <label>{{localize 'HM.dialog.getAttackRangeBody'}}</label>
        <select name='range' id='range-select'>
        {{selectOptions (findConfigObj 'range') selected=range localize=true}}
        </select>
        {{else}}<label>&nbsp</label><label>&nbsp</label>
        {{/if}}
        <label>{{localize 'HM.bonus'}}</label>
        <input name='bonus' id='bonus-input' value='{{bonus}}' placeholder=0 type='number'/>
    </div>
    {{#if inCombat}}
    <div class='form-group'>
        <label>
            {{localize 'HM.dialog.advCombatTracker'}}
            {{#with (lookup weapons widx)}}
                <b>{{data.data.bonus.total.spd}}</b>
            {{/with}}
            {{toLowerCase (localize 'HM.seconds')}}?
        </label>
        <input type='checkbox' id='advance_tracker' {{checked advance}}>
    </div>
    {{/if}}
    <div class='dialog-buttons'>
        <button type='submit' id='attack' class='dialog-button normal default' data-button='attack'>
            {{localize 'HM.attack'}}
        </button>
    </div>
</form>
