<form class='hackmaster'>
    <span class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{#select widx}}{{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
            {{/each}}{{/select}}
        </select>
    </span>
    <span class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </span>
    <section class='grid-2col' style='gap: 0 20px;'>
        <span class='form-group'>
            {{#if ranged}}
            <label>{{localize 'HM.dialog.getAttackRangeBody'}}</label>
            <select name='range' class='bind' data-prop='range' data-render=true>
                {{#select range}}{{#each (mapSelect reach 'reach' 'ft')}}
                    {{#unless @first}}
                    <option value='{{@index}}'>{{localize this}}</option>
                    {{/unless}}
                {{/each}}{{/select}}
            </select>
            {{else if (eq SPECIAL.CHARGE specialMove)}}
            <label>{{localize 'HM.dialog.getChargeSpdBody'}}</label>
            <select name='charge' class='bind' data-prop='charge' data-render=true>
                {{selectOptions (findConfigObj 'chargeSpd') selected=charge localize=true}}
            </select>
            {{else if (and inCombat (neq SPECIAL.AGGRESSIVE specialMove) (neq SPECIAL.FULLPARRY specialMove))}}
            <label>{{localize 'Defense'}}</label>
            <select name='defense' class='bind' data-prop='defense' data-render=true>
                {{selectOptions (findConfigObj 'defense') selected=defense localize=true}}
            </select>
            {{/if}}
        </span>
        <span class='form-group' style='padding-bottom: 2px;'>
            <label>{{localize 'HM.bonus'}}</label>
            <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus'
            {{#if (eq SPECIAL.FULLPARRY specialMove)}}disabled{{/if}} placeholder=0 type='number'/>
        </span>
    </section>
    {{#if inCombat}}
    <hr>
    <span class='form-group'>
        <label>{{localize 'HM.dialog.advCombatTracker'}}</label>
        <input type='checkbox' class='bind' data-prop='advance' {{checked advance}} data-render=true>
    </span>
    {{/if}}
    <section class='dialog-buttons'>
        {{#if ranged}}
        <button type='submit' class='dialog-button normal default' data-button='declare'>
            <span class='hm-clock'>
                <label>{{localize 'HM.declare'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.declare}}</sub>{{/if}}
            </span>
        </button>
        <button type='submit' class='dialog-button normal default' data-button='shoot'>
            <span class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.shoot}}</sub>{{/if}}
            </span>
        </button>
        {{else if (eq SPECIAL.SET4CHARGE specialMove)}}
        <button type='submit' class='dialog-button normal default' data-button='declare'>
            <span class='hm-clock'>
                <label>{{localize 'HM.brace'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.declare}}</sub>{{/if}}
            </span>
        </button>
        <button type='submit' class='dialog-button normal default' data-button='shoot'>
            <span class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.melee}}</sub>{{/if}}
            </span>
        </button>
        {{else if (eq SPECIAL.FULLPARRY specialMove)}}
        <button type='submit' class='dialog-button normal default' data-button='declare'>
            <span class='hm-clock'>
                <label>{{localize 'EFFECT.fullparry'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.melee}}</sub>{{/if}}
            </span>
        </button>
        {{else}}
        <button type='submit' class='dialog-button normal default' data-button='melee'>
            <span class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.melee}}</sub>{{/if}}
            </span>
        </button>
        {{/if}}
    </section>
</form>
