<form class='hackmaster'>
    <div class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{#select widx}}{{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
            {{/each}}{{/select}}
        </select>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </div>
    <div class='form-group'>
        {{#if ranged}}
        <label>{{localize 'HM.dialog.getAttackRangeBody'}}</label>
        <select name='range' class='bind' data-prop='range' data-render=true>
        {{selectOptions (findConfigObj 'range') selected=range localize=true}}
        </select>
        {{else}}<label>&nbsp</label><label>&nbsp</label>
        {{/if}}
        <label>{{localize 'HM.bonus'}}</label>
        <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus' placeholder=0 type='number'/>
    </div>
    {{#if inCombat}}
    <div class='form-group'>
        <label>
            {{localize 'HM.dialog.advCombatTracker'}}
                <b>{{spd}}</b>
            {{toLowerCase (localize 'HM.seconds')}}?
        </label>
        <input type='checkbox' class='bind' data-prop='advance' {{checked advance}}>
    </div>
    {{/if}}
    <div class='dialog-buttons'>
        <button type='submit' class='dialog-button normal default' data-button='attack' data-render=false>
            <div class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if inCombat}}<a>{{spd}}</a>{{/if}}
            </div>
        </button>
    </div>
</form>
