<form class='hackmaster'>
    <div class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{#select widx}}{{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
            {{/each}}{{/select}}
        </select>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </div>
    <div class='form-group'>
        {{#if ranged}}
        <label>{{localize 'HM.dialog.getAttackRangeBody'}}</label>
        <select name='range' class='bind' data-prop='range' data-render=true>
        {{selectOptions (findConfigObj 'range') selected=range localize=true}}
        </select>
        {{else}}<label>&nbsp</label><label>&nbsp</label>
        {{/if}}
        <label>{{localize 'HM.bonus'}}</label>
        <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus' placeholder=0 type='number'/>
    </div>
    {{#if inCombat}}
    <div class='form-group'>
        <label>{{localize 'HM.dialog.advCombatTracker'}}</label>
        <input type='checkbox' class='bind' data-prop='advance' {{checked advance}} data-render=true>
    </div>
    {{/if}}
    <div class='dialog-buttons'>
        {{#if ranged}}
        <button type='submit' class='dialog-button normal default' data-button='declare'>
            <span class='hm-clock'>
                <label>{{localize 'HM.declare'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.declare}}</sub>{{/if}}
            </span>
        </button>
        <button type='submit' class='dialog-button normal default' data-button='shoot'>
            <span class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.shoot}}</sub>{{/if}}
            </span>
        </button>
        {{else}}
        <button type='submit' class='dialog-button normal default' data-button='melee'>
            <span class='hm-clock'>
                <label>{{localize 'HM.attack'}}</label>
                {{#if (and advance inCombat)}}<sub>{{spd.melee}}</sub>{{/if}}
            </span>
        </button>
        {{/if}}
    </div>
</form>
