<form>
    <div class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select id='weapon-select'>
            {{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class='form-group' {{#unless ranged}}style='display: none;'{{/unless}}>
        <label>{{localize 'HM.dialog.getAttackRangeBody'}}</label>
        <select name='data.quality' id='range'>
            {{#select 'short'}}{{#each (findConfigObj 'range') as |type t|}}
            <option value='{{t}}'>{{type}}</option>
            {{/each}}{{/select}}
        </select>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.modifier'}}</label>
        <input id='mod' placeholder=0 type='number'/>
    </div>
</form>
