<form>
    <div class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{#select widx}}{{#each weapons}}
                <option value='{{@index}}'>{{name}}</option>
            {{/each}}{{/select}}
        </select>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "HM.bonus"}}</label>
        <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus' placeholder=0 type='number'/>
    </div>
    <div class='dialog-buttons'>
        <button type='submit' class='dialog-button normal default'
            data-prop='shieldHit'
            data-value=false
            data-render=false>
            {{localize 'HM.standard'}}
        </button>
        <button type='submit' class='dialog-button normal default'
            data-prop='shieldHit'
            data-value=true
            data-render=false>
            {{localize 'HM.shield'}} {{localize 'HM.hit'}}
        </button>
    </div>
</form>
