<form class='hackmaster'>
    <span class='form-group'>
        <label>{{localize 'HM.weapon'}}</label>
        <select name='widx' class='bind' data-prop='widx' data-render=true>
            {{selectOptions weaponsList selected=widx}}
        </select>
    </span>
    <span class='form-group'>
        <label>{{localize 'HM.dialog.specialMove'}}</label>
        <select name='specialMove' class='bind' data-prop='specialMove' data-render=true>
        {{selectOptions capList selected=specialMove localize=true}}
        </select>
    </span>
    <section class='grid-2col' style='gap: 0 20px;'>
        <span class='form-group'>
            {{#if canStrBonus}}
            <label>{{localize 'HM.dialog.strBonus'}}?</label>
            <input type='checkbox' class='bind' data-prop='addStrBonus' {{checked addStrBonus}} data-render=true/>
            {{/if}}
        </span>
        <span class='form-group'>
            <label>{{localize "HM.bonus"}}</label>
            <input name='bonus' value='{{bonus}}' class='focus bind' data-prop='bonus' placeholder=0 type='number'/>
        </span>
    </section>
    <section class='dialog-buttons'>
        <button type='submit' class='dialog-button normal default'
            data-prop='shieldHit'
            data-value=false
            data-render=false>
            {{localize 'HM.standard'}}
        </button>
        <button type='submit' class='dialog-button normal default'
            data-prop='shieldHit'
            data-value=true
            data-render=false>
            {{localize 'HM.shield'}} {{localize 'HM.hit'}}
        </button>
    </section>
</form>
