<form>
    <div class='form-group'>
        <label>{{localize 'HM.difficulty'}}</label>
        <select name='dc' class='bind' data-prop='dc' data-render=true>
        {{selectOptions (findConfigObj 'skillLevel') selected=dc localize=true}}
        </select>
    </div>
    <div class='form-group'>
        <label>{{localize 'HM.bonus'}}</label>
        <input class='focus bind' placeholder=0 data-prop='bonus' type='number'/>
    </div>
    <hr>
    {{> 'systems/hackmaster5e/templates/dialog/parts/getRollMode.hbs'}}
    <div class='dialog-buttons'>
    {{#if language}}
        <button type='submit' class='dialog-button normal default'
            {{#unless hasVerbal}}disabled{{/unless}}    
            data-prop='formulaType'
            data-value='{{HMCONST "SKILL.TYPE.VERBAL"}}'
            data-render=false>
            {{localize 'HM.language'}}
        </button>
        <button type='submit' class='dialog-button normal'
            {{#unless hasLiteracy}}disabled{{/unless}}    
            data-prop='formulaType'
            data-value='{{HMCONST "SKILL.TYPE.WRITTEN"}}'
            data-render=false>
            {{localize 'HM.literacy'}}
        </button>
    {{else}}
        <button type='submit' class='dialog-button normal default'
            data-prop='formulaType'
            data-value='{{HMCONST "SKILL.TYPE.SKILL"}}'
            data-render=false>
            {{localize 'HM.skillcheck'}}
        </button>
        <button type='submit' class='dialog-button normal'
            data-prop='formulaType'
            data-value='{{HMCONST "SKILL.TYPE.OPPOSED"}}'
            data-render=false>
            {{localize 'HM.opposed'}}
        </button>
    {{/if}}
    </div>
</form>
