<div class="initiative-dialog">
    <div class="form-group">
        <label for="selectedDie">{{localize 'HM.dialog.getInitDieBody'}}</label>
        <select name="selectedDie" id="selectedDie">
            {{#each diceOptions}}
            <option value="{{value}}" {{#if (eq value ../selectedDie)}}selected{{/if}}>
                {{label}}
            </option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="modifier">{{localize 'HM.mod'}}</label>
        <input type="number" name="modifier" value="{{modifier}}" step="1" />
    </div>
</div>
