<section class="abilities">
    {{#each data.data.derived.abilities as |ability key|}}
        <div class="ability flexrow">
            <input type="text" name="data.derived.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            <input type="text" name="data.derived.abilities.{{key}}.fvalue" value="{{ability.fvalue}}" data-dtype="Number"/>
            <label for="data.data.abilities.{{key}}.value" class="resource-label rollable" data-roll-type="ability">
                {{localize (findConfigValue "ability_short" key)}}
            </label>
        </div>
    {{/each}}
</section>

<section class="abilities-mods">
    {{#each data.data.mods as |ability key|}}
        <div class="ability flexrow">
        </div>
    {{/each}}
</section>

<section class="abilities-wounds">
    <li class="item flexrow item-header">
        <label class="item-image">{{localize "HM.wound"}}</label>
        <label class="item-name">{{localize "HM.duration"}}</label>
        <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="wound"><i class="fas fa-plus"></i> New</a>
        </div>
    </li>
    {{#each actor.wounds}}
        <li class="item flexrow" data-item-id="{{_id}}">
            <input type="text" class="editable" data-item-prop="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
            <input type="text" class="editable" data-item-prop="data.duration.value" value="{{data.duration.value}}" data-dtype="Number"/>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Wound"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Wound"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</section>
