<section class="abilities">
    {{#each data.data.abilities as |ability key|}}
        <div class="ability flexrow">
            <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            <input type="text" name="data.abilities.{{key}}.fvalue" value="{{ability.fvalue}}" data-dtype="Number"/>
            <label for="data.data.abilities.{{key}}.value" class="resource-label">
                {{localize (findConfigValue "ability_short" key)}}
            </label>
        </div>
    {{/each}}
</section>

<section class="abilities-attributes">
</section>
