<ol class='beast-bio'>
    <section class='traits'>
        <label class='resource-label'>{{localize 'HM.description'}}</label>
        {{editor content=data.data.bio.desc target="data.bio.desc" button=true owner=owner editable=editable}}
    </section>
    <section class='wealth'>
        <label class='resource-label'>{{localize 'HM.tactics'}}</label>
        {{editor content=data.data.bio.tactics target="data.bio.tactics" button=true owner=owner editable=editable}}
    </section>
    <section class='history'>
        <label class='resource-label'>{{localize 'HM.habitat'}}</label>
        {{editor content=data.data.bio.habitat target="data.bio.habitat" button=true owner=owner editable=editable}}
    </section>
    <section class='family'>
        <label class='resource-label'>{{localize 'HM.ecology'}}</label>
        {{editor content=data.data.bio.ecology target="data.bio.ecology" button=true owner=owner editable=editable}}
    </section>
</ol>
