<nav class='bio-tabs tabs' data-group='secondary'>
    <a class='item' data-tab='desc'>{{localize 'HM.description'}}</a>
    <a class='item' data-tab='tactics'>{{localize 'HM.tactics'}}</a>
    <a class='item' data-tab='habitat'>{{localize 'HM.habitat'}}</a>
    <a class='item' data-tab='ecology'>{{localize 'HM.ecology'}}</a>
</nav>

<section class='bio-body' style='grid-template-rows: 14rem;'>
<div>
    <div class='tab desc' data-group='secondary' data-tab='desc' style='min-height: 20em;'>
        {{editor enrichedContent.bio.desc target="system.bio.desc" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab tactics' data-group='secondary' data-tab='tactics' style='min-height: 20em;'>
        {{editor enrichedContent.bio.tactics target="system.bio.tactics" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab habitat' data-group='secondary' data-tab='habitat' style='min-height: 20em;'>
        {{editor enrichedContent.bio.habitat target="system.bio.habitat" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab ecology' data-group='secondary' data-tab='ecology' style='min-height: 20em;'>
        {{editor enrichedContent.bio.ecology target="system.bio.ecology" button=true editable=editable engine="prosemirror"}}
    </div>
</div>
</section>
