<nav class='bio-tabs tabs' data-group='primary'>
    <a class='item' data-tab='wealth'>{{localize 'HM.wealth'}}</a>
    <a class='item' data-tab='history'>{{localize 'HM.history'}}</a>
    <a class='item' data-tab='quirks'>{{localize 'HM.quirks'}}/{{localize 'HM.talents'}}</a>
    <a class='item' data-tab='family'>{{localize 'HM.family'}}</a>
</nav>

<section class='bio-body' style='grid-template-rows: 23rem;'>
    <div class='tab wealth' data-group='primary' data-tab='wealth' style='min-height: 20em;'>
        {{editor data.system.bio.wealth target="system.bio.wealth" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab history' data-group='primary' data-tab='history' style='min-height: 20em;'>
        {{editor data.system.bio.history target="system.bio.history" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab quirks' data-group='primary' data-tab='quirks' style='min-height: 20em;'>
        {{editor data.system.bio.quirks target="system.bio.quirks" button=true editable=editable engine="prosemirror"}}
    </div>

    <div class='tab family' data-group='primary' data-tab='family' style='min-height: 20em;'>
        {{editor data.system.bio.family target="system.bio.family" button=true editable=editable engine="prosemirror"}}
    </div>
</section>
