<ol class='bio'>
    <section class='traits'>
        <label class='resource-label'>{{localize 'HM.quirks'}}/{{localize 'HM.talents'}}</label>
        {{editor
            data.system.bio.quirks
            target="system.bio.quirks"
            button=true
            editable=editable
        }}
    </section>
    <section class='wealth'>
        <label class='resource-label'>{{localize 'HM.wealth'}}</label>
        {{editor
            data.system.bio.wealth
            target="system.bio.wealth"
            button=true
            editable=editable
        }}
    </section>
    <section class='history'>
        <label class='resource-label'>{{localize 'HM.history'}}</label>
        {{editor
            data.system.bio.history
            target="system.bio.history"
            button=true
            editable=editable
        }}
    </section>
    <section class='family'>
        <label class='resource-label'>{{localize 'HM.family'}}</label>
        {{editor
            data.system.bio.family
            target="system.bio.family"
            button=true
            editable=editable
        }}
    </section>
</ol>
