<ol class='cards-list'>
    {{#with actor.system.encumb}}
    <li class='flex-space-between' style='margin-left: 3px; margin-right: 15px;'>
        <label>
            {{localize 'HM.encumbRow.scale'}}:
            <b>{{numberFormat total decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.carried'}}:
            <b>{{numberFormat carried decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.effective'}}:
            <b>{{numberFormat effective decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.penalty'}}:
            <select class='selectable' name='encumbrance' data-flag='encumbrance'>
                {{selectOptions (encumbranceSelect) selected=(getFlag 'hackmaster5e' 'encumbrance')}}
            </select>
        </label>
    </li>
    {{/with}}
    <section class='scrollable' style='height: 31rem;'>
    {{#each actor.gear.weapons}}
        {{#unless system.innate}}
            {{> 'systems/hackmaster5e/templates/actor/cards/item.hbs' }}
        {{/unless}}
    {{/each}}
    {{#each actor.gear.armors}}
        {{> 'systems/hackmaster5e/templates/actor/cards/item.hbs' }}
    {{/each}}
    {{#each actor.gear.items}}
        {{> 'systems/hackmaster5e/templates/actor/cards/item.hbs' }}
    {{/each}}
    <hr>
    {{#each actor.weapons.innate}}
        {{> 'systems/hackmaster5e/templates/actor/cards/item.hbs' }}
    {{/each}}
    </section>
</ol>
