{{#with actor.encumb}}
    <span class='weights'>
        <label>
            {{localize 'HM.encumbRow.scale'}}:
            <b>{{numberFormat total decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.carried'}}:
            <b>{{numberFormat carried decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.effective'}}:
            <b>{{numberFormat effective decimals=2}} lbs.</b>
        </label>
        <label>
            {{localize 'HM.encumbRow.penalty'}}:
            {{#if (getSetting 'hackmaster5e' 'autoEncumbrance')}}
            <b>{{lookup (mapSelect @root/actor.encumbrance 'encumbrance' 'lbs.') penalty}}</b>
            {{else}}
            <select class='selectable' name='encumbrance' data-flag='encumbrance'>
                {{selectOptions (mapSelect @root/actor.encumbrance 'encumbrance' 'lbs.')
                    selected=(getFlag 'hackmaster5e' 'encumbrance')}}
            </select>
            {{/if}}
        </label>
    </span>
    {{#if (or (isGM) (getSetting 'hackmaster5e' 'playerNewItems'))}}
    <div class='item-controls'>
        <a class='item-control item-create' title='New Item' data-render='true' data-type='item'>
            <i class='fas fa-plus'></i>
        </a>
    </div>
    {{/if}}
{{/with}}
