{{#each data.data.abilities.total}}
    <div class="ability">
        <span>
            {{value}}
            <i class="unit-dlm"></i>
            {{pad fvalue}}
            <i class="unit-pct"></i>
        </span>
        <label for="data.data.abilities.total.{{@key}}.value" class="resource-label rollable"
            data-dialog="ability"
            data-formula="1d20p + @resp.mod @resp.oper @abilities.total.{{@key}}.value"
            data-ability="{{localize (findConfigValue "ability_long" @key)}}">
            {{localize (findConfigValue "ability_short" @key)}}
        </label>
    </div>
{{/each}}
