{{#each data.data.abilities}}
    <div class="ability">
        <span>
            {{derived.value}}
            <i class="unit-dlm"></i>
            {{pad derived.fvalue}}
            <i class="unit-pct"></i>
        </span>
        <label for="data.data.abilities.{{@key}}.derived.value" class="resource-label rollable"
            data-dialog="ability"
            data-formula="1d20p + @resp.mod @resp.oper @abilities.{{@key}}.derived.value"
            data-ability="{{localize (findConfigValue "ability_long" @key)}}">
            {{localize (findConfigValue "ability_short" @key)}}
        </label>
    </div>
{{/each}}
