{{#with data}}
{{#if (eq ../actor.type 'character')}}
<figure class='category'>
    <label for='system.honor.value' class='resource-label title'>{{localize 'HM.honor'}}</label>
    <input type='number' name='system.honor.value' class='resource' value='{{system.honor.value}}' onwheel='this.blur()' data-dtype='Number'/>
    <label for='system.honor.bracket' class='bracket'>{{localize (findConfigValue 'honor' system.honor.bracket)}}</label>
</figure>
<figure class='category'>
    <label for='system.fame.value' class='resource-label title'>{{localize 'HM.fame'}}</label>
    <input type='number' name='system.fame.value' class='resource' value='{{system.fame.value}}' onwheel='this.blur()' data-dtype='Number'/>
    <label for='system.fame.bracket' class='bracket'>{{localize (findConfigValue 'fame' system.fame.bracket)}}</label>
</figure>
{{/if}}
{{#if system.hp.top}}
<figure class='statdisplay'>
    <span class='resource-label'>{{localize 'HM.top'}}</span>
    <span class='value'>{{system.hp.top}}</span> 
</figure>
{{/if}}
{{#if system.bonus.total.init includeZero=true}}
<figure class='statdisplay'>
    <span class='resource-label'>{{localize 'HM.init'}}</span>
    <span class='value'>{{system.bonus.total.init}}</span>
</figure>
{{/if}}
{{#if system.hp.tenacity}}
<figure class='statdisplay'>
    <span class='resource-label'>{{localize 'HM.tenacity'}}</span>
    <span class='value'>{{system.hp.tenacity}}</span>
</figure>
{{/if}}
{{/with}}
