{{#with data.data}}
{{#if (eq ../actor.type 'character')}}
<figure class='category'>
    <label for='data.honor.value' class='resource-label title'>{{localize 'HM.honor'}}</label>
    <input type='number' name='data.honor.value' class='resource' value='{{honor.value}}' onwheel='this.blur()' data-dtype='Number'/>
    <label for='data.honor.bracket' class='bracket'>{{localize (findConfigValue 'honor' honor.bracket)}}</label>
</figure>
<figure class='category'>
    <label for='data.fame.value' class='resource-label title'>{{localize 'HM.fame'}}</label>
    <input type='number' name='data.fame.value' class='resource' value='{{fame.value}}' onwheel='this.blur()' data-dtype='Number'/>
    <label for='data.fame.bracket' class='bracket'>{{localize (findConfigValue 'fame' fame.bracket)}}</label>
</figure>
{{/if}}
{{#if hp.tenacity}}
<figure class='fraction' style='width: auto;'>
    <label for='data.hp.tenacity' class='resource-label'>{{localize 'HM.tenacity'}}</label>
    {{hp.tenacity}} 
</figure>
{{/if}}
{{#if hp.top}}
<figure class='fraction' style='width: auto;'>
    <label for='data.fame.value' class='resource-label'>{{localize 'HM.top'}}</label>
    {{hp.top}} 
</figure>
{{/if}}
{{#if bonus.total.init includeZero=true}}
<figure class='fraction' style='width: auto;'>
    <label for='data.bonus.total.init' class='resource-label'>{{localize 'HM.init'}}</label>
    {{bonus.total.init}}
</figure>
{{/if}}
{{/with}}
