<form class='{{cssClass}} actor-sheet' id='beast-sheet' autocomplete='off'>
    <header>
        {{> 'systems/hackmaster5e/templates/actor/parts/header/base-header.hbs'}}
    </header>

    <section class='sheet-middle'>
        {{> 'systems/hackmaster5e/templates/actor/parts/middle/base-middle.hbs'}}
    </section>

    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='overview'>{{localize 'HM.overview'}}</a>
        <a class='item' data-tab='spells'>{{localize 'HM.spells'}}</a>
        <a class='item' data-tab='inventory'>{{localize 'HM.inventory'}}</a>
        <a class='item' data-tab='description'>{{localize 'HM.description'}}</a>
        <a class='item' data-tab='setup'>{{localize 'HM.setup'}}</a>
    </nav>

    <section class='sheet-body'>
        <div class='tab overview' data-group='primary' data-tab='overview'>
            {{> 'systems/hackmaster5e/templates/actor/parts/overview/base-overview.hbs'}}
        </div>

        <div class='tab spells' data-group='primary' data-tab='spells'>
            {{> 'systems/hackmaster5e/templates/actor/parts/spells/base-spells.hbs'}}
        </div>

        <div class='tab items' data-group='primary' data-tab='inventory'>
            {{> 'systems/hackmaster5e/templates/actor/parts/inventory/beast-inventory.hbs'}}
        </div>

        <div class='tab description' data-group='primary' data-tab='description'>
            {{> 'systems/hackmaster5e/templates/actor/parts/beast-bio.hbs'}}
        </div>

        <div class='tab base-setup' data-group='primary' data-tab='setup'>
            {{> 'systems/hackmaster5e/templates/actor/parts/setup/beast-base-setup.hbs'}}
        </div>
    </section>
</form>
