<hr>
{{localize "HM.CHAT.svr"}}: <b>{{resp.svr}}</b>
(<span {{#if (gt resp.stage 1)}}style="color: red;"{{/if}}
    >{{localize (findConfigValue "spellVolatility" resp.stage)}}</span>)<br>
{{localize "HM.CHAT.sfc"}}: <b>{{resp.sfc}}</b><br>
Volatility Save: <b>{{sfc.value}}</b><br>
<hr>
{{localize "HM.result"}}: <b>{{localize (findConfigValue 'spellMishap' sfc.mishap)}}</b><br>
{{localize "HM.CHAT.smc"}}: <b>{{resp.smc}}</b><br>
