<div class="hackmaster2">
    <section class="chat-table chat-table--compact">
        <h5 class="chat-table__title">{{specname}} Survey</h5>
        <div class="chat-table__container">
            <table class="chat-table__table">
                <thead class="chat-table__head">
                    <tr class="chat-table__header-row">
                        <th class="chat-table__cell chat-table__cell--left">
                            Name
                        </th>
                        <th class="chat-table__cell chat-table__cell--center">
                            Success
                        </th>
                        <th class="chat-table__cell chat-table__cell--value chat-table__cell-no-overflow chat-table__cell--left">
                            Oppose
                        </th>
                    </tr>
                </thead>
                <tbody class="chat-table__body">
                    {{#each processedBatch}}
                    <tr class="chat-table__row">
                        <td class="chat-table__cell chat-table__cell--name chat-table__cell--left">
                            {{name}}
                        </td>
                        <td class="chat-table__cell chat-table__cell--result chat-table__cell--center">
                            {{success}}
                        </td>
                        <td class="chat-table__cell chat-table__cell--value chat-table__cell--right">
                            {{opposed}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="chat-table__footer">
            <div class="chat-table__flavor chat-table__flavor--right">{{flavor}}</div>
        </div>
    </section>
</div>
