{{#if (eq dialog 'cast')}}
    {{localize 'HM.spell'}}: <b>{{context.name}}</b><br>
    {{localize 'HM.components'}}: <b>{{resp.components}}</b><br>
    {{#unless context.system.divine}}
        {{localize 'HM.cost'}}: <b>{{resp.cost}} {{localize 'HM.sp'}}</b>
        {{#if resp.schedule}}+ <b>{{resp.schedule}} {{localize 'HM.sp'}}</b>{{/if}}<br>
    {{/unless}}
    {{#if resp.advance}}
        {{localize 'HM.CHAT.ctime'}}: <b>{{resp.advance}}</b><br>
    {{/if}}
<div class='dice-roll'>
    <div class='dice-flavor'>
        {{localize (concat 'HM.spellLevels.' context.system.lidx)}} {{localize 'HM.level'}}
        {{#if context.system.divine}}
            {{localize 'HM.clerical'}}
        {{else}}
            {{localize 'HM.mage'}}
        {{/if}}
            {{localize 'HM.spell'}} ({{localize 'HM.preparing'}})
    </div>
</div>
{{else}}
    {{localize 'HM.weapon'}}: <b>{{context.name}}</b><br>
    {{#unless (eq SPECIAL.SET4CHARGE resp.specialMove)}}
        {{localize 'HM.speed'}}:
        {{#with context.system.bonus.total}}
            <b>{{spd}}</b>{{#if jspd}}({{jspd}}){{/if}}<br>
        {{/with}}
    {{/unless}}
<div class='dice-roll'>
    <div class='dice-flavor'>
    {{#if (eq SPECIAL.FULLPARRY resp.specialMove)}}
        {{localize 'EFFECT.fullparry'}}
    {{else if (eq SPECIAL.SET4CHARGE resp.specialMove)}}
        {{localize 'HM.specSelect.s4c'}}
    {{else}}
        {{localize 'HM.chatCard.prepratk'}} {{specialFlavor}}
    {{/if}}
    </div>
</div>
{{/if}}
