<div class="hm-chat-note no-whisper chat-message message-content {{cssClass}}">
    {{#each combatants}}
    <section class="hm-chat-note-row">
        <span>
            <strong>{{delta}}</strong><i class="fa fa-hourglass-half"></i>
            {{name}}
            {{#if (gt newInit oldInit)}}
                ({{oldInit}} <i class="fa fa-arrow-right"></i> {{newInit}})
            {{else}}
                ({{newInit}} <i class="fa fa-arrow-left"></i> {{oldInit}})
            {{/if}}
        </span>
        {{#unless @index}}
        <header class="message-header">
            <a aria-label={{localize "HM.CHAT.delete"}} class="message-delete" data-action="deleteMessage">
                <i class="fa-solid fa-trash"></i>
            </a>
        </header>
        {{/unless}}
    </section>
    {{/each}}
</div>
