<h3>{{context.data.name}}</h3><hr>
{{name}}
{{localize (findConfigValue 'spellLevels' context.data.data.lidx)}}
{{localize 'HM.level'}}
{{#if divine}}
    {{localize 'HM.clerical'}}
{{else}}
    {{localize 'HM.arcane'}}
{{/if}} {{localize 'HM.spell'}}<br> 
{{#with resp}}
{{localize 'HM.components'}}: <b>({{components}})</b><br>
{{#unless ../context.data.data.divine}}
    {{localize 'HM.sp'}}: <b>{{sp.base}} 
    {{#if (gt sp.schedule 0)}} + {{sp.schedule}}{{/if}}
    </b><br>
{{/unless}}
{{/with}}
{{localize 'HM.speed'}}: <b>{{context.data.data.speed}}</b><br>
<div class='dice-roll'>
    <div class='dice-flavor'>
        {{localize 'HM.spell'}}
    </div>
</div>
