{{localize 'HM.spell'}}: <b>{{context.name}}</b><br>
{{localize 'HM.components'}}: <b>{{resp.components}}</b><br>
{{localize 'HM.CHAT.sthrow'}}:
{{#with context.system.save}}
    {{#if (eq type 0)}}
        <b>{{localize 'HM.saves.none'}}</b>
    {{else if (eq type 1)}}
        <b>{{localize 'HM.saves.special'}}</b>
    {{else}}
    <b>{{localize (findConfigValue 'saveSelect' type)}}</b>
    vs. <b>{{../resp.total}}</b>
    ({{localize (findConfigValue 'saveActionSelect' action)}})
    {{/if}}<br>
{{/with}}
{{#unless context.system.divine}}
    {{#if resp.advance}}
        {{localize 'HM.spell'}} {{localize 'HM.fatigue'}}: <b>{{resp.sfatigue}}</b>
        <i>{{toLowerCase (localize 'HM.seconds')}}.</i><br>
        {{localize 'HM.chatCard.wcreset'}}.<br>
    {{else}}
    {{localize 'HM.CHAT.ctime'}}: <b>{{context.system.speed}}</b><br>
    {{/if}}
{{/unless}}
{{#unless resp.total}}
<div class='dice-roll'>
    <div class='dice-flavor'>
        {{resp.flavor}}
    </div>
</div>
{{/unless}}
