{{#with data.data}}
<div class="setup-abilities">
    <table class="table-basic">
        <tbody>
            <tr>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.tenacity"}}</label></th>
                <td>
                    <select name="data.bonus.base.tenacity" data-dtype="Number">
                    {{#select bonus.base.tenacity}}{{#each (findConfigObj "tenacity") as |type t|}}
                        <option value="{{t}}">{{localize type}}</option>
                    {{/each}}{{/select}}
                    </select>
                </td>
                <th scope="row"><label class="resource-label">HP FORMULA</label> </th>
                <td><input type="text" style="width: 6em;" name="data.hp.formula" value="{{hp.formula}}" data-dtype="String"/></td>
            </tr><tr>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.will"}}</label> </th>
                <td><input type="number" name="data.bonus.base.will" value="{{bonus.base.will}}" data-dtype="Number"/></td>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.physical"}}</label> </th>
                <td><input type="number" name="data.bonus.base.physical" value="{{bonus.base.physical}}" data-dtype="Number"/></td>
            </tr><tr>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.fos"}}</label> </th>
                <td><input type="number" name="data.bonus.base.fos" value="{{bonus.base.fos}}" data-dtype="Number"/></td>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.mental"}}</label> </th>
                <td><input type="number" name="data.bonus.base.mental" value="{{bonus.base.mental}}" data-dtype="Number"/></td>
            </tr><tr>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.foa"}}</label> </th>
                <td><input type="number" name="data.bonus.base.foa" value="{{bonus.base.foa}}" data-dtype="Number"/></td>
                <th scope="row"><label class="resource-label">{{localize "HM.saves.dodge"}}</label> </th>
                <td><input type="number" name="data.bonus.base.dodge" value="{{bonus.base.dodge}}" data-dtype="Number"/></td>
            </tr>
        </tbody>
    </table>
</div>
{{/with}}
