<label class='resource-label'>Additional Bonus</label>
{{#with data}}
<section class='newform grid-3col' style='padding-top: 2px;'>
    <span class='col_rborder'>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.bonus'}} {{localize 'HM.hp'}}</label>
            <input type='number' name='system.bonus.misc.hp' value='{{system.bonus.misc.hp}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.bonus'}} {{localize 'HM.sp'}}</label>
            <input type='number' name='system.bonus.misc.sp' value='{{system.bonus.misc.sp}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
             <label class='resource-label'>Feat of Strength</label>
             <input type='number' name='system.bonus.misc.fos' value='{{system.bonus.misc.fos}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
             <label class='resource-label'>Feat of Agility</label>
             <input type='number' name='system.bonus.misc.foa' value='{{system.bonus.misc.foa}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.morale'}}</label>
            <input type='number' name='system.bonus.misc.morale' value='{{system.bonus.misc.morale}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.saves.turning'}}</label>
            <input type='number' name='system.bonus.misc.turning' value='{{system.bonus.misc.turning}}' data-dtype='Number'/>
        </span>
    </span>
    <span class='col_rborder'>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.atk'}}</label>
            <input type='number' name='system.bonus.misc.atk' value='{{system.bonus.misc.atk}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.def'}}</label>
            <input type='number' name='system.bonus.misc.def' value='{{system.bonus.misc.def}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.dmg'}}</label>
            <input type='number' name='system.bonus.misc.dmg' value='{{system.bonus.misc.dmg}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.spd'}}</label>
            <input type='number' name='system.bonus.misc.spd' value='{{system.bonus.misc.spd}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.statbonus.init'}}</label>
            <input type='number' name='system.bonus.misc.init' value='{{system.bonus.misc.init}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.dr'}}</label>
            <input type='number' name='system.bonus.misc.dr' value='{{system.bonus.misc.dr}}' data-dtype='Number'/>
        </span>
    </span>
    <span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.saves.physical'}}</label>
            <input type='number' name='system.bonus.misc.physical' value='{{system.bonus.misc.physical}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.saves.mental'}}</label>
            <input type='number' name='system.bonus.misc.mental' value='{{system.bonus.misc.mental}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.saves.dodge'}}</label>
            <input type='number' name='system.bonus.misc.dodge' value='{{system.bonus.misc.dodge}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
            <label class='resource-label'>{{localize 'HM.top'}} {{localize 'HM.save'}}</label></th>
             <input type='number' name='system.bonus.misc.trauma' value='{{system.bonus.misc.trauma}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
             <label class='resource-label'>{{localize 'HM.saves.poison'}}</label>
             <input type='number' name='system.bonus.misc.poison' value='{{system.bonus.misc.poison}}' data-dtype='Number'/>
        </span>
        <span class='form-option narrow'>
             <label class='resource-label'>Spell {{localize 'HM.fatigue'}} <i class='fa fa-hourglass-half'></i></label>
             <input type='number' name='system.bonus.misc.fatigue' value='{{system.bonus.misc.fatigue}}' data-dtype='Number'/>
        </span>
    </span>
</section>
{{/with}}
