<label class="resource-label">Ability Bonuses</label>
<section class="bonus">
    {{#with data.data.bonus.sheet}}
    <label class="resource-label">str</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Dmg<br>Mod.</label>
            <label class="resource-label"> {{str.dmg}}</label>
        </div>
        <div class="bonus-block">
            <label>Feat<br>of Str.</label>
            <label class="resource-label"> {{str.fos}}</label>
        </div>
    </div>
    <label class="resource-label">int</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Attack<br>Mod.</label>
            <label class="resource-label"> {{int.atk}}</label>
        </div>
    </div>
    <label class="resource-label">wis</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Init<br>Mod.</label>
            <label class="resource-label"> {{wis.init}}</label>
        </div>
        <div class="bonus-block">
            <label>Defense<br>Mod.</label>
            <label class="resource-label"> {{wis.def}}</label>
        </div>
        <div class="bonus-block">
            <label>Mental<br>Save</label>
            <label class="resource-label"> {{wis.mental}}</label>
        </div>
    </div>
    <label class="resource-label">dex</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Init<br>Mod.</label>
            <label class="resource-label"> {{dex.init}}</label>
        </div>
        <div class="bonus-block">
            <label>Attack<br>Mod.</label>
            <label class="resource-label"> {{dex.atk}}</label>
        </div>
        <div class="bonus-block">
            <label>Def<br>Mod.</label>
            <label class="resource-label"> {{dex.def}}</label>
        </div>
        <div class="bonus-block">
            <label>Dodge<br>Save</label>
            <label class="resource-label"> {{dex.dodge}}</label>
        </div>
        <div class="bonus-block">
            <label>Feat<br>of Agi.</label>
            <label class="resource-label"> {{dex.foa}}</label>
        </div>
    </div>
    <label class="resource-label">con</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Physical<br>Save</label>
            <label class="resource-label"> {{con.physical}}</label>
        </div>
    </div>
    <label class="resource-label">lks</label>
    <div class="bonus-row"><br><br></div>
    <label class="resource-label">cha</label>
    <div class="bonus-row">
        <div class="bonus-block">
            <label>Turning<br>Mod.</label>
            <label class="resource-label"> {{cha.turning}}</label>
        </div>
        <div class="bonus-block">
            <label>Morale<br>Mod.</label>
            <label class="resource-label"> {{cha.morale}}</label>
        </div>
    </div>
    {{/with}}
</section>
