<label class='resource-label'>Ability Scores</label>
{{#with data}}
<section>
    <table class='table-basic' style='padding-top: 2px;'>
        <thead>
            <tr>
                <th scope='col'></th>
                {{#each system.abilities.total}}
                <th scope='col'><label class='loud-label'>{{@key}}</label></th>
                {{/each}}
            </tr>
        </thead>
        <tbody class='abilities'>
            {{#each system.abilities as |vector vectorKey|}}
            <tr>
                <td scope='row' style='padding-right: 20px;'><label class='resource-label'>{{@vectorKey}}</label></td>
                {{#each vector}}
                <td>
                    <input type='text' name='system.abilities.{{@vectorKey}}.{{@key}}.value' style='text-align: right;'
                        value='{{lookup (lookup @vector @key) 'value'}}' maxlength=3 data-dtype='Number'
                        {{#unless (or (eq @vectorKey 'base') (eq @vectorKey 'misc'))}}disabled{{/unless}}/>
                    <label class='loud-label'>/</label>
                    <input type='text' name='system.abilities.{{@vectorKey}}.{{@key}}.fvalue'
                        value='{{pad (lookup (lookup @vector @key) 'fvalue')}}' maxlength=3 data-dtype='Number'
                        {{#unless (or (eq @vectorKey 'base') (eq @vectorKey 'misc'))}}disabled{{/unless}}/>
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{/with}}
