<section style="common-border">
    <label class="resource-label">Class</label>
    <ol class="cards-list">
        {{#each actor.class}}
            <li class="card" data-item-id="{{_id}}">
                <div class="lid">
                    <header>
                        <label for="{{name}}">
                            <div class="item-image"><img src="{{img}}" title="{{name}}" width="28" height="28"/></div>
                            <h4 class="item-name">{{data._ord}}. {{name}}</h4>
                        </label>
                    </header>
                    <section>
                        <div class="card-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </section>
                </div>
            </li>
        {{/each}}
    </ol>
</section>
