<label class="resource-label">Race &amp Class</label>
{{#with actor.race}}
    <li class="card hmstyle" data-item-id="{{_id}}">
        <summary class='toggleswitch'>
            <header>
                <label for="{{name}}">
                    <div class="item-image"><img src="{{img}}" title="{{name}}" width="28" height="28"/></div>
                    <h4 class="item-name">{{name}}</h4>
                </label>
            </header>
            <section>
                <div class="card-controls" style='padding-right: 2px;'>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </section>
        </summary>
        <section class='{{toggleSwitch _id}} card-expanded' style='grid-template-columns: 40% 1fr 25%;' toggle>
            <span style='padding-right: 5px; border-right: 1px solid;'>
                {{#with system}}
                <table class='table-basic'>
                    <tbody>
                        <tr>
                            <th scope='row'>{{localize (concat 'HM.hp')}}</th>
                            <td width='99%'>{{bonus.hp}}</td>
                        </tr>
                        <tr>
                            <th scope='row'>{{localize (concat 'HM.statbonus.kb')}}</th>
                            <td width='99%'>{{bonus.kb}}</td>
                        </tr>
                        <tr>
                            <th scope='row'>{{localize (concat 'HM.statbonus.reach')}}</th>
                            <td width='99%'>{{numberFormat bonus.reach sign=true}}</td>
                        </tr>
                        <tr>
                            <th scope='row'>{{localize (concat 'HM.statbonus.def')}}</th>
                            <td width='99%'>{{#if bonus.def}}{{bonus.def}}{{else}}0{{/if}}</td>
                        </tr>
                    </tbody>
                </table>
            </span>
            <span style='padding-right: 5px; border-right: 1px solid;'>
                <table class='table-basic'>
                    <tbody>
                        {{#each ../movespd}}
                        <tr>
                            <th scope='row'>{{localize (findConfigValue 'moveSpd' @index)}}</th>
                            <td width='99%'>{{this}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </span>
            <span>
                <table class='table-basic'>
                    <tbody>
                        {{#each ../actor.system.abilities.base}}
                        <tr>
                            <th scale='row'>{{localize (concat 'HM.ability_short.' @key)}}</th>
                            {{#with ../abilities}}
                            <td width='99%'>{{numberFormat (lookup (lookup this @key) 'value') sign=true}}</td>
                            {{/with}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/with}}
            </span>
        </section>
    </li>
{{/with}}
{{#with actor.cclass}}
    <li class='card hmstyle' data-item-id="{{_id}}">
        <summary class='toggleswitch'>
            <header>
                <label for="{{name}}">
                    <div class="item-image"><img src="{{img}}" title="{{name}}" width="28" height="28"/></div>
                    <h4 class="item-name">{{name}} {{system.level}}</h4>
                </label>
            </header>
            <section>
                <div class="card-controls" style='padding-right: 2px;'>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </section>
        </summary>
        <section class='{{toggleSwitch _id}} card-expanded' style='grid-template-columns: 55% 45%;' toggle>
            <span style='padding-right: 5px; border-right: 1px solid;'>
                {{#with system}}
                <table class='table-basic'>
                    <tbody>
                        <tr>
                            <th width='99%' scope='row'>{{localize 'HM.level'}}</th>
                            <td>
                                <input class='editable' type='number' value={{level}}
                                    data-item-prop='system.level' data-dtype='Number'/>
                            </td>
                        </tr>
                        <tr>
                            <th width='99%' scope='row'>{{localize 'HM.hp'}}</th>
                            <td>{{bonus.hp}}</td>
                        </tr>
                        {{#each features}}{{#if this}}
                        <tr>
                            <th scope='row'>{{localize (concat 'HM.CCLASS.CARD.' @key)}}</th>
                            <td width='99%'>{{lookup ../bonus @key}}</td>
                        </tr>
                        {{/if}}{{/each}}
                    </tbody>
                </table>
            </span>
            <span style='padding-right: 5px;'>
                <table class='table-basic'>
                    <thead>
                        <tr>
                            <th scope='col'>{{localize 'HM.level'}}</th>
                            <th scope='col'>{{localize 'HM.die'}}</th>
                            <th scope='col'>{{localize 'HM.roll'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ptable}}
                        {{#if (gt ../level @index)}}
                        <tr>
                            <th scope='row' style='text-align: center;'>{{@key}}</th>
                            <td style='text-align: left;' width='99%'>
                                {{this.hp.die}}
                                <i class='fa-solid fa-arrow-rotate-right' title='{{localize 'HM.reroll'}}'
                                   {{#unless this.hp.reroll}}style='visibility: hidden;'{{/unless}}></i>
                            </td>
                            <td>
                                <input type='number' class='editable' name='system.ptable.{{@key}}.hp.value'
                                       data-item-prop='system.ptable.{{@key}}.hp.value'
                                       value='{{this.hp.value}}' data-dtype='Number'/>
                            </td>
                        </tr>
                        {{/if}}{{/each}}
                    </tbody>
                </table>
                {{/with}}
            </span>
        </section>
    </li>
{{/with}}
