<div class="card">
    <header><label for="{{name}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="64"/>
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </label></header>
</div>

<div class="grid grid-2col">
    <div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.quantity"}}</label>
            <input type="number" name="data.quantity.value" value="{{data.data.quantity.value}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.weight"}}</label>
            <input type="number" name="data.weight.value" value="{{data.data.weight.value}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.cost"}}</label>
            <input type="number" name="data.cost.value" value="{{data.data.cost.value}}" data-dtype="Number"/>
        </div>
    </div><div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.high"}}</label>
            <input type="number" name="data.avail.high.value" value="{{data.data.avail.high.value}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.med"}}</label>
            <input type="number" name="data.avail.med.value" value="{{data.data.avail.med.value}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.low"}}</label>
            <input type="number" name="data.avail.low.value" value="{{data.data.avail.low.value}}" data-dtype="Number"/>
        </div>
    </div>
</div>
