<div class="card">
    <header><label for="{{name}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="64"/>
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </label></header>
</div>

<div class="grid grid-3col">
    <div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.qty"}}</label>
{{#if (eq item.type "item")}}
            <input type="number" name="data.qty" value="{{data.data.qty}}" data-dtype="Number"/>
{{else}}
            <input type="number" readonly value="1"/>
{{/if}}
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.high"}}</label>
            <input type="number" name="data.avail.high" value="{{data.data.avail.high}}" data-dtype="Number"/>
        </div>
    </div><div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.weight"}}</label>
            <input type="number" name="data.weight" value="{{data.data.weight}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.med"}}</label>
            <input type="number" name="data.avail.med" value="{{data.data.avail.med}}" data-dtype="Number"/>
        </div>
    </div><div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.price"}}</label>
            <input type="text" name="data.price" value="{{data.data.price}}" data-dtype="String"/>
        </div>
        <div class="form-group">
            <label class="resource-label">{{localize "HM.avail.low"}}</label>
            <input type="number" name="data.avail.low" value="{{data.data.avail.low}}" data-dtype="Number"/>
        </div>
    </div>
</div>
