<div class="grid grid-4col">
    <label class="resource-label">{{localize "HM.availability"}}</label>
    <div class="resource">
        <label class="resource-label">{{localize "HM.avail.high"}}</label>
        <input type="number" name="data.avail.high.value" value="{{data.data.avail.high.value}}" data-dtype="Number"/>
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "HM.avail.med"}}</label>
        <input type="number" name="data.avail.med.value" value="{{data.data.avail.med.value}}" data-dtype="Number"/>
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "HM.avail.low"}}</label>
        <input type="number" name="data.avail.low.value" value="{{data.data.avail.low.value}}" data-dtype="Number"/>
    </div>
</div>
