<li class="card hmstyle" data-item-id="{{_id}}">
    <summary class="toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name">{{name}}</h4>
            </label>
        </header>
    </summary>
    <section class="hide" toggle>
        <div class="splitview">
            <div></div>
            <table class="table-basic">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {{#each data.bonus.total}}
                        <th scope="col"><label class="resource-label">{{@key}}</label></th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.bonus}}
                    <tr>
                        <th scope="row"><label class="resource-label">{{@key}}</label></td>
                        {{#each this}}{{#if (eq 'mod' @../key)}}
                        <td>
                            <input class="editable" type="number" value={{this}}
                                data-item-prop="data.bonus.mod.{{@key}}"
                                data-dtype="Number" />
                        </td>
                        {{else}}
                        <td>{{this}}</td>
                        {{/if}}{{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</li>
