<li class="card">
    <div class="lid toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name">{{name}}</h4>
            </label>
        </header>
    </div>
    <article class="hide" toggle>
        <div class="details">
            <div></div>
            <div class="stats">
                <label class="resource-label">{{localize "HM.dr"}}</label>
                <label class="resource-label">{{localize "HM.def"}}</label>
                <label class="resource-label">{{localize "HM.init"}}</label>
                <label class="resource-label">{{localize "HM.spd"}}</label>
            </div>
        </div>
        <div class="details">
            <div></div>
            <div class="stats">
                <input type="number" value="{{data.stats.dr.derived.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.def.derived.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.init.derived.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.spd.derived.value}}" readonly="true"/>
            </div>
        </div>
        <div class="details">
            <div></div>
            <div class="stats">
                <input type="number" value="{{data.stats.dr.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.def.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.init.value}}" readonly="true"/>
                <input type="number" value="{{data.stats.spd.value}}" readonly="true"/>
            </div>
        </div>
        <div class="details">
            <div></div>
            <div class="stats">
                <input type="number" class="editable" value="{{data.stats.dr.mod.value}}" 
                    data-item-id="{{_id}}"
                    data-item-prop="data.stats.dr.mod.value" 
                    data-dtype="Number"/>
                <input type="number" class="editable" value="{{data.stats.def.mod.value}}" 
                    data-item-id="{{_id}}"
                    data-item-prop="data.stats.def.mod.value" 
                    data-dtype="Number"/>
                <input type="number" class="editable" value="{{data.stats.init.mod.value}}" 
                    data-item-id="{{_id}}"
                    data-item-prop="data.stats.init.mod.value" 
                    data-dtype="Number"/>
                <input type="number" class="editable" value="{{data.stats.spd.mod.value}}" 
                    data-item-id="{{_id}}"
                    data-item-prop="data.stats.spd.mod.value" 
                    data-dtype="Number"/>
            </div>
        </div>
    </article>
</li>
