<li class="card hmstyle" data-item-id="{{_id}}">
    <summary class="toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name" style="font-size: 16px;">{{name}}</h4>
            </label>
        </header>
    </summary>
    <section class='{{toggleSwitch _id invert=true}}' toggle>
        <div class='card-expanded'>
            <div></div><div></div>
            <table class="table-basic">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {{#each system.bonus.total}}
                        <th scope="col"><label class="loud-label">{{@key}}</label></th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each system.bonus}}
                    <tr>
                        <th scope="row"><label class="resource-label">{{@key}}</label></td>
                        {{#each this}}{{#if (eq 'mod' @../key)}}
                            {{#if (eq 'move' @key)}}
                        <td>
                            <input class="editable" type="text" value={{pct this}} style='width: 2.5rem;'
                                data-item-prop="system.bonus.mod.{{@key}}"
                                data-dtype="Percent" />
                        </td>
                            {{else}}
                        <td>
                            <input class="editable" type="number" value={{this}}
                                data-item-prop="system.bonus.mod.{{@key}}"
                                data-dtype="Number" />
                        </td>
                            {{/if}}
                        {{else}}
                        <td>{{#if (eq 'move' @key)}}{{pct this}}{{else}}{{this}}{{/if}}</td>
                        {{/if}}{{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</li>
