<li class="card hmstyle">
    <summary class="toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name">{{name}}</h4>
            </label>
        </header>
    </summary>
    <section class="hide" toggle>
        <div class="splitview">
            <div></div>
            <div class="gridtable">
                <label></label>
                {{#each data.stats as |stat key|}}
                <label class="resource-label">{{key}}</label>
                {{/each}}
                <label>Total</label>
                {{#each data.stats}}
                <label>{{derived.value}}</label>
                {{/each}}
                <label class="column">Base</label>
                {{#each data.stats}}
                <label>{{value}}</label>
                {{/each}}
            </div>
        </div>
    </section>
</li>
