<li class='card hmstyle' data-item-id='{{_id}}' data-container-id='{{container._id}}' data-root-id='{{container.rootId}}'>
    <summary>
        <header>
            <label for='{{name}}'>
                <img src='{{img}}' title='{{name}}' width='28' height='28'/>
                <h4 class='item-name'>{{name}}</h4>
            </label>
        </header>
        <section>
            <div class='card-controls'>
                <a class='item-control item-edit' title='Edit Item'><i class='fas fa-edit'></i></a>
                <a class='item-control item-delete' title='Delete Item'><i class='fas fa-trash'></i></a>
            </div>
            <div class='inventory-details'>
                <div>
                    {{#unless system.innate}}
                    <select class='selectable' name='container' data-oper='containerMove'>
                        {{selectOptions (getValidContainers @root.actor.containers _id) selected=container._id}}
                    </select>
                    {{/unless}}
                </div>
                <div>
                    {{#if system.container.enabled}}
                        {{localize (findConfigValue 'itemTypes' 'container')}}
                    {{else}}
                        {{localize (findConfigValue 'itemTypes' type)}}
                    {{/if}}
                </div>
                <div class='item-control location {{#unless (or container (eq system.state 3))}}item-state button {{/unless}}'>
                    {{#unless container}}{{localize (findConfigValue 'thingState' system.state)}}{{/unless}}
                </div>
                {{#unless system.innate}}
                <div>{{#if (eq type 'item')}}{{system.qty}}x{{/if}}</div>
                <span>{{numberFormat weightTotal decimals=2}} lbs.</span>
                {{/unless}}
            </div>
        </section>
    </summary>
</li>
{{#if system.container.enabled}}
<section style='padding-left: 15px;'>
    {{#each items}}
    {{>'systems/hackmaster5e/templates/actor/cards/item.hbs'}}
    {{/each}}
</section>
{{/if}}
