<li class='card hmstyle' data-item-id='{{_id}}'>
    <summary>
        <header>
            <label for='{{name}}'>
                <img src='{{img}}' title='{{name}}' width='28' height='28'/>
                <h4 class='item-name'>{{name}}</h4>
            </label>
        </header>
        <section>
            <div class='card-controls'>
                <a class='item-control item-edit' title='Edit Item'><i class='fas fa-edit'></i></a>
                <a class='item-control item-delete' title='Delete Item'><i class='fas fa-trash'></i></a>
            </div>
            <div class='inventory-details'>
                <span>
                    {{localize (findConfigValue 'itemTypes' type)}}
                </span>
                <div class='item-control location {{#unless (eq system.state 3)}}item-state button{{/unless}}'>
                    {{localize (findConfigValue 'thingState' system.state)}}
                </div>
                {{#unless system.innate}}
                <div>{{#if (eq type 'item')}}{{system.qty}}x{{/if}}</div>
                <span>{{numberFormat weightTotal decimals=2}} lbs.</span>
                {{/unless}}
            </div>
        </section>
    </summary>
</li>
{{#if system.type}}
<section style='padding-left: 30px;'>
    {{#each hmContents}}
    {{> 'systems/hackmaster5e/templates/actor/cards/item.hbs' }}
    {{/each}}
</section>
{{/if}}
