<li class="card hmstyle" data-item-id="{{_id}}">
    <div class="lid">
        <header>
            <label for="{{name}}">
                <div class="item-image"><img src="{{img}}" title="{{name}}" width="28" height="28"/></div>
                <h4 class="item-name">{{name}}</h4>
            </label>
        </header>
        <section>
            <div class="card-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <div class="inventory-details">
                <div class="type">
                    {{localize (findConfigValue "itemTypes" type)}}
                </div>
                <div class="item-control item-state location button">
                    {{#if data.state.equipped.checked}}{{localize "HM.equipped"}}
                    {{else}}{{#if data.state.carried.checked}}{{localize "HM.carried"}}
                        {{else}}{{localize "HM.owned"}}
                        {{/if}}
                    {{/if}}
                </div>
                <div class="weight">
                    {{numberFormat data.weight.value decimals=1}} lbs.
                </div>
            </div>
        </section>
    </div>
</li>
