<li class="card hmstyle" data-item-id="{{_id}}">
    <div class="lid">
        <header>
            <label for="{{name}}">
                <div class="item-image"><img src="{{img}}" title="{{name}}" width="24" height="24"/></div>
                <h4 class="item-name">
                    {{name}}
                    {{#if data.specialty.checked}}
                        {{#if data.specialty.value}}({{data.specialty.value}}){{/if}}
                    {{/if}}
                </h4>
            </label>
        </header>
        <section>
            <div class="rollable button" title="Verbal"
                data-dialog="skill"
                data-formula="1d100 + @resp.mod @resp.oper @language.verbal.value"
                data-item-id="{{_id}}">
                {{data.language.verbal.value}}
            </div>
            <div class="rollable button" title="Literacy"
                data-dialog="skill"
                data-formula="1d100 + @resp.mod @resp.oper @language.literate.value"
                data-item-id="{{_id}}">
                {{data.language.literate.value}}
            </div>
        </section>
    </div>
</li>
