<li class="item card hmstyle" data-item-id="{{_id}}">
    <summary>
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" width="28" height="28"/>
                <label class="spell-level resource-label">{{localize (concat "HM.spellLevelsAbbr." data.lidx)}}</label>
                <h4 class="item-name">{{name}}</h4>
            </label>
        </header>
        <section>
            <img class="imgbutton spell-prep" src="{{findConfigValue "combatImg" "unprep"}}" height=20 title="Forget">
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "cast"}}" height=20 title="Cast"
                data-dialog="cast"
                data-item-divine={{data.divine}}
                data-item-id="{{_id}}">
        </section>
    </summary>
</li>
