<li class="card">
    {{#with @root.data.data.bonus.total}}
    {{/with}}
    <summary>
        <header>
            <label for="{{this}}">
                <img src="{{findConfigValue "savesImg" this}}" title="{{this}}" height=32"/>
                <h4 class="card-name">{{localize (findConfigValue "saves" @this)}}</h4>
            </label>
        </header>
        <div class="statblock">
            <input class="rollable" type="number" value="{{findBonus (concat 'total.' this)}}" readonly="true"
                data-dialog="save"
                data-formula-type="{{this}}"
            />
        </div>
    </summary>
</li>
