<li class='card hmstyle item' data-item-id='{{_id}}'>
    <summary class='toggleswitch'>
        <header>
            <label for='{{name}}'>
                <img src='{{img}}' title='{{name}}' width='24' height='24'/>
                <h4>
                    {{localize name}}
                    {{#if system.specialty.checked}}
                        {{#if system.specialty.value}}({{system.specialty.value}}){{/if}}
                    {{/if}}
                </h4>
            </label>
        </header>
        <section>
        {{#if system.language}}
           <div toggle class='rollable button' title='Verbal'
                   data-dialog='skill'
                   data-skill-type='language'
                   data-formula-type='language'
                   data-item-id='{{_id}}'>
                   {{system.bonus.total.verbal}}
               </div>
               {{#if system.bonus.total.literacy}}
            <div toggle class='rollable button' title='Literacy'
                   data-dialog='skill'
                   data-skill-type='literacy'
                   data-formula-type='literacy'
                   data-item-id='{{_id}}'>
                   {{system.bonus.total.literacy}}
               </div>
               {{/if}}
        {{else}}
            <div toggle class='rollable button'
                data-dialog='skill'
                data-skill-type='skill'
                data-formula-type='skill'
                data-item-id='{{_id}}'>
                {{system.bonus.total.value}}
            </div>
        {{/if}}
            <div class='hide item-controls' toggle>
                <a class='item-control item-delete' title='Remove Skill'><i class='fas fa-trash'></i></a>
            </div>
        </section>
    </summary>
    <article class='hide' toggle>
    {{#if system.language}}
        <div class='form-group' style='gap: 10px;'>
            <label>{{localize 'HM.literacy'}}:</label>
            <input class='editable' type='number' value='{{system.bonus.mastery.literacy}}'
                data-item-prop='system.bonus.mastery.literacy'
                data-dtype='Number'
            />
            <label>{{localize 'HM.verbal'}}:</label>
            <input class='editable' type='number' value='{{system.bonus.mastery.verbal}}'
                data-item-prop='system.bonus.mastery.verbal'
                data-dtype='Number'
            />
        </div>
    {{else}}
        <div class='form-group'>
            <label>{{localize 'HM.mastery'}}:</label>
            <input class='editable' type='number' value='{{system.bonus.mastery.value}}'
                data-item-prop='system.bonus.mastery.value'
                data-dtype='Number'
            />
        </div>
    {{/if}}
    {{#if system.specialty.checked}}
        <div class='form-group'>
            <label>{{localize 'HM.specialty'}}:</label>
            <input class='editable' type='text' value='{{system.specialty.value}}' style='max-width: unset;'
                data-item-prop='system.specialty.value'
                data-dtype='String'
            />
        </div>
    {{/if}}
    </article>
</li>
