<li class="card hmstyle" data-item-id="{{_id}}">
    <summary class="toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" width="24" height="24"/>
                <h4>
                    {{localize name}}
                    {{#if data.specialty.checked}}
                        {{#if data.specialty.value}}({{data.specialty.value}}){{/if}}
                    {{/if}}
                </h4>
            </label>
        </header>
        <section>
            <div toggle class="rollable button"
                data-dialog="skill"
                data-formula="1d100 + @resp.mod @resp.oper @bonus.total.value"
                data-item-id="{{_id}}">
                {{data.bonus.total.value}}
            </div>
            <div class="hide item-controls" toggle>
                <a class="item-control item-delete" title="Remove Skill"><i class="fas fa-trash"></i></a>
            </div>
        </section>
    </summary>
    <article class="hide" toggle>
        <div class="form-group">
            <label>{{localize "HM.mastery"}}:</label>
            <input class="editable" type="number" value="{{data.bonus.mastery.value}}"
                data-item-prop="data.bonus.mastery.value"
                data-dtype="Number"
            />
        </div>
        {{#if data.specialty.checked}}
        <div class="form-group">
            <label>{{localize "HM.specialty"}}:</label>
            <input class="editable" type="text" value="{{data.specialty.value}}"
                data-item-prop="data.specialty.value"
                data-dtype="String"
            />
        </div>
        {{/if}}
    </article>
</li>
