<li class="item card hmstyle" data-item-id="{{_id}}">
    <summary>
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" width="28" height="28"/>
                <label class="spell-level resource-label">{{localize (concat "HM.spellLevelsAbbr." data.lidx)}}</label>
                <h4 class="item-name">{{name}}</h4>
            </label>
        </header>
        <section>
            <div class="card-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            <img class="imgbutton spell-prep" src="{{findConfigValue "combatImg" "prep"}}" height=20 title="Prepare"
                data-item-prepare=true
                data-item-id="{{_id}}">
            {{#if data.divine}}{{else}}
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "cast"}}" height=20 title="Cast"
                data-dialog="cast"
                data-item-divine={{data.divine}}
                data-item-id="{{_id}}">
            {{/if}}
        </section>
    </summary>
</li>
