<li class='card hmstyle' data-item-id='{{_id}}' data-toggle-id='{{weaponId}}'>
    <summary class='toggleswitch'>
        <header>
            <label for='{{name}}'>
                <img src='{{img}}' title='{{name}}' height='48'/>
                <h4 class='card-name' style='font-size: 16px;'>{{name}}</h4>
            </label>
        </header>
        {{#if (gt system.state 1)}}
        <section class='weapon-controls'>
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'def'}}' title='Defend'
                data-dialog='def'
                data-formula-type='standard'
                data-item-id='{{_id}}'
            />
            {{#if system.ranged.checked}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'rdmg'}}' title='Ranged Damage'
            {{else}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'dmg'}}' title='Damage'
            {{/if}}
                data-dialog='dmg'
                data-formula-type='standard'
                data-item-id='{{_id}}'
            />
            {{#if system.ranged.checked}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'ratk'}}' title='Ranged Attack'
            {{else}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'atk'}}' title='Attack'
            {{/if}}
                data-dialog='atk'
                data-formula-type='standard'
                data-item-id='{{_id}}'
             />
        </section>
        {{/if}}
    </summary>
    <section class='{{toggleSwitch weaponId}}' toggle>
        <div class='card-expanded'>
            {{#if system.ranged.checked}}
            <span>
                <table class='table-basic'>
                    <tbody>
                        {{#each (findConfigObj 'reach')}}
                        <tr>
                            <th scope='row'>{{localize this}}:</th>
                            <td width='99%'>{{lookup ../system.ranged.reach @index}} ft.</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
            <span class='reach'>
                <label>{{localize 'HM.reach'}}: {{system.reach}} ft.</label>
                <i class='txtbutton far fa-circle-dot' title='{{localize 'HM.UI.showreach'}}' name='reachHint'
                    data-item-id='{{weaponId}}'
                    data-op='setFlag'
                    data-key='reachHint'
                    data-value='{{weaponId}}'
                    data-redraw=true
                   {{#if (eq weaponId (getFlag 'hackmaster5e' 'reachHint'))}}data-enabled{{/if}}
                   {{#if (eq system.state 1)}}style='visibility: hidden;'{{/if}}>
                </i>
            {{/if}}
            </span>
            <span class='secondary-controls'>
                <i class='txtbutton far fa-arrow-down-arrow-up' title='{{localize 'HM.UI.tequipped'}}' name='toggleEquip'
                    data-item-id='{{weaponId}}'
                    data-op='setProperty'
                    data-key='system.state'
                    data-value='{{#if (eq system.state 2)}}1{{else}}2{{/if}}'
                    data-dtype='Number'
                    data-toggle=true
                    data-enabled
                   {{#if (eq system.state 3)}}style='visibility: hidden;'{{/if}}>
                </i>
            </span>
            <table class='table-basic'>
                <thead>
                    <tr>
                        <th scope='col'></th>
                        {{#each system.bonus.total}}{{#unless (eq @key 'jspd')}}
                        <th scope='col'><label class='loud-label'>{{@key}}</label></th>
                        {{/unless}}{{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each system.bonus}}
                    <tr>
                        <td scope='row'><label class='resource-label'>{{@key}}</label></td>
                        {{#each this}}{{#unless (eq @key 'jspd')}}{{#if (eq @../key 'mod')}}
                        <td>
                            <input class='editable' type='number' value={{this}}
                                data-item-prop='system.bonus.mod.{{@key}}'
                                data-item-id='{{../../weaponId}}' data-dtype='Number' />
                        </td>
                        {{else}}
                        <td>
                            {{#if
                                (and ../../system.ranged.checked
                                     this
                                    (eq @key 'dmg')
                                    (eq @../key 'total')
                                )
                            }}<super>*</super>{{/if}}{{this}}{{#if
                                (and ../../system.jab.checked
                                    (eq @key 'spd')
                                        (or
                                            (eq @../key 'total')
                                            (eq @../key 'base'))
                                    )}}({{../jspd}})
                            {{/if}}
                        </td>
                        {{/if}}{{/unless}}{{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</li>
