<li class="card hmstyle">
    <div class="lid toggleswitch">
        <header>
            <label for="{{name}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name">{{name}}</h4>
            </label>
        </header>
        {{#if data.state.equipped.checked}}
        <section>
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "def"}}" height="36" title="Defend"
                data-dialog="def"
                data-formula="1d20p + @stats.def.derived.value + @resp.mod"
                data-item-id="{{_id}}">
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "dmg"}}" height="36" title="Damage"
                data-dialog="dmg"
                data-formula="@resp.dmg + @stats.dmg.derived.value + @resp.mod"
                data-item-id="{{_id}}">
            {{#if data.ranged.checked}}
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "ratk"}}" height="36" title="Attack"
                data-dialog="ratk"
                data-formula="1d20p + @stats.atk.derived.value + @resp.range + @resp.mod"
                data-item-id="{{_id}}">
            {{else}}
            <img class="rollable imgbutton" src="{{findConfigValue "combatImg" "atk"}}" height="36" title="Attack"
                data-dialog="atk"
                data-formula="1d20p + @stats.atk.derived.value + @resp.mod"
                data-item-id="{{_id}}">
            {{/if}}
        </section>
        {{/if}}
    </div>
    <section class="hide" toggle>
        <div class="splitview">
            <div>
                {{localize "HM.reach"}}: {{data.reach.value}}    
            </div>
            <div class="gridtable">
                <label></label>
                {{#each data.stats as |stat key|}}
                <label class="resource-label">{{key}}</label>
                {{/each}}
                <label>Total</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.derived.value}}</label>
                {{/each}}
                <label class="column">Base</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.value}}</label>
                {{/each}}
                <label class="column">Spec</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.prof.value}}</label>
                {{/each}}
                {{#if data.cclass}}
                <label class="column">Class</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.cclass.value}}</label>
                {{/each}}
                {{/if}}
                <label class="column">Stats</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.stats.value}}</label>
                {{/each}}
                <label class="column">Armor</label>
                {{#each data.stats as |stat key|}}
                <label>{{stat.armor.value}}</label>
                {{/each}}
            </div>
        </div>
    </section>
</li>
