<li class='card hmstyle' data-item-id='{{_id}}'>
    <summary class='toggleswitch'>
        <header>
            <label for='{{name}}'>
                <img src='{{img}}' title='{{name}}' height='48'/>
                <h4 class='card-name' style='font-size: 16px;'>{{name}}</h4>
            </label>
        </header>
        {{#if (gt system.state 1)}}
        <section>
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'def'}}' height='36' title='Defend'
                data-dialog='def'
                data-formula-type='standard'
                data-item-id='{{_id}}'>
            {{#if system.ranged.checked}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'rdmg'}}' height='36' title='Ranged Damage'
            {{else}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'dmg'}}' height='36' title='Damage'
            {{/if}}
                data-dialog='dmg'
                data-formula-type='standard'
                data-item-id='{{_id}}'>
            {{#if system.ranged.checked}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'ratk'}}' height='36' title='Ranged Attack'
                data-dialog='ratk'
                data-formula-type='standard'
                data-item-id='{{_id}}'>
            {{else}}
            <img class='rollable imgbutton' src='{{findConfigValue 'combatImg' 'atk'}}' height='36' title='Attack'
                data-dialog='atk'
                data-formula-type='standard'
                data-item-id='{{_id}}'>
            {{/if}}
        </section>
        {{/if}}
    </summary>
    <section class='hide' toggle>
        <div class='card-expanded'>
            <span>
            {{#if system.ranged.checked}}
                <table class='table-basic'>
                    <tbody>
                        {{#each (findConfigObj 'reach')}}
                        <tr>
                            <th scope='row'>{{localize this}}:</th>
                            <td width='99%'>{{lookup ../system.ranged.reach @index}} ft.</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
            </span>
            <span class='secondary-controls'>
            {{#unless system.ranged.checked}}
                    <label>{{localize 'HM.reach'}}: {{system.adjReach}} ft.</label>
                    <i class='txtbutton far fa-circle-dot' title='Show Reach' name='reachHint'
                        data-item-id='{{_id}}'
                        data-op='setFlag'
                        data-key='reachHint'
                        data-value='{{_id}}'
                        data-redraw=true
                       {{#if (eq _id (getFlag 'hackmaster5e' 'reachHint'))}}data-enabled{{/if}}
                       {{#if (eq system.state 1)}}style='visibility: hidden;'{{/if}}>
                    </i>
            {{/unless}}
            </span>
            <table class='table-basic'>
                <thead>
                    <tr>
                        <th scope='col'></th>
                        {{#each system.bonus.total}}{{#unless (eq @key 'jspd')}}
                        <th scope='col'><label class='resource-label'>{{@key}}</label></th>
                        {{/unless}}{{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each system.bonus}}
                    <tr>
                        <th scope='row'><label class='resource-label'>{{@key}}</label></td>
                        {{#each this}}{{#unless (eq @key 'jspd')}}{{#if (eq @../key 'mod')}}
                        <td>
                            <input class='editable' type='number' value={{this}}
                                data-item-prop='system.bonus.mod.{{@key}}'
                                data-dtype='Number' />
                        </td>
                        {{else}}
                        <td>
                            {{this}}{{#if
                                (and ../../system.jab.checked
                                    (eq @key 'spd')
                                        (or
                                            (eq @../key 'total')
                                            (eq @../key 'base'))
                                    )}}({{../jspd}})
                            {{/if}}
                        </td>
                        {{/if}}{{/unless}}{{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</li>
