<ol class="cards-list">
    {{#each actor.weapons as |weapon|}}
        <li class="card" data-card-id="{{_id}}">
            <header>
                <div class="card-image"><img src="{{img}}" title="{{name}}" width="24" height="24"/></div>
                <h4 class="card-name">{{name}}</h4>
            </header>
            <div class="statblock">
                <div class="row">
                    <div class="column">
                        <label class="rollable">ATK</label>
                        <input type="number" value="{{data.atk.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label class="rollable">DMG</label>
                        <input type="number" value="{{data.dmg.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label class="rollable">DEF</label>
                        <input type="number" value="{{data.def.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label>SPD</label>
                        <input type="number" value="{{data.spd.derived.value}}" readonly="true"/>
                    </div>
                </div>
                {{#if true}}
                    <div class="row">
                        <div class="column">
                            <input type="number" value="0" readonly="true"/>
                            <input type="number" value="{{data.atk.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="0" readonly="true"/>
                            <input type="number" value="{{data.dmg.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="0" readonly="true"/>
                            <input type="number" value="{{data.def.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="0" readonly="true"/>
                            <input type="number" value="{{data.spd.mod.value}}" readonly="true"/>
                        </div>
                    </div>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ol>
