<ol class="cards-list">
    {{#each actor.weapons as |weapon|}}
        <li class="card">
            <header class="toggle" data-item-id="{{_id}}">
                <img src="{{img}}" title="{{name}}" height="48"/>
                <h4 class="card-name">{{name}}</h4>
            </header>
            <div class="statblock">
                <div class="row">
                    <div class="column">
                        <label class="rollable">ATK</label>
                        <input type="number" value="{{data.atk.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label class="rollable">DMG</label>
                        <input type="number" value="{{data.dmg.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label class="rollable">DEF</label>
                        <input type="number" value="{{data.def.derived.value}}" readonly="true"/>
                    </div>
                    <div class="column">
                        <label>SPD</label>
                        <input type="number" value="{{data.spd.derived.value}}" readonly="true"/>
                    </div>
                </div>
                {{#if flags.hackmaster5e.ui.toggle}}
                    <div class="row">
                        <div class="column">
                            <input type="number" value="{{data.atk.prof.value}}" readonly="true"/>
                            <input type="number" value="{{data.atk.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="{{data.dmg.prof.value}}" readonly="true"/>
                            <input type="number" value="{{data.dmg.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="{{data.def.prof.value}}" readonly="true"/>
                            <input type="number" value="{{data.def.mod.value}}" readonly="true"/>
                        </div>
                        <div class="column">
                            <input type="number" value="{{data.spd.prof.value}}" readonly="true"/>
                            <input type="number" value="{{data.spd.mod.value}}" readonly="true"/>
                        </div>
                    </div>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ol>
