<ol class="cards-list">
    {{#each actor.weapons as |card|}}
        <li class="flexrow card" data-card-id="{{_id}}">
            <div class="card-image"><img src="{{img}}" title="{{name}}" width="24" height="24"/></div>
            <h4 class="card-name">{{name}}</h4>
            <div>
                <div> Normal: {{data.dmg.normal}}</div>
                <div> Shield: {{data.dmg.shield}}</div>
                <div> Shield: {{data.dmg.shield}}</div>
                <div> Shield: {{data.dmg.shield}}</div>
                <div> Shield: {{data.dmg.shield}}</div>
            </div>
        </li>
    {{/each}}
</ol>
