<ol class="items-list">
    <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">Name</div>
    </li>
    {{#each actor.weapons as |item|}}
        <li class="flexrow" data-item-id="{{_id}}">
            <div class="item-image"><img src="{{img}}" title="{{name}}" width="24" height="24"/></div>
            <h4 class="item-name">{{name}}</h4>
                <div>
                    <div>                    Normal: {{data.dmg.normal}}</div>
                    <div> Shield: {{data.dmg.shield}}</div>
                </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
