<section class='hmstyle'>
<table class='table-basic'>
    <thead>
        <th style='text-align: left; padding-left: 5px;'>{{localize 'HM.UI.label'}}</th>
        <th style='text-align: left;'>{{localize 'HM.type'}}</th>
        <th style='text-align: left;'>{{localize 'HM.UI.key'}}</th>
        <th style='text-align: left;'>{{localize 'HM.UI.value'}}</th>
        <th style='text-align: left;'>{{localize 'HM.UI.mode'}}</th>
        <th style='text-align: left;'>{{localize 'HM.disabled'}}</th>
    </thead>
    <tbody>
{{#each actor.collections.effects}}{{#with this}}
    {{#each changes}}
    <tr>
        <td>{{../label}}</td>
        <td>{{#if ../flags.core.statusId}}{{localize 'HM.seffect'}}
            {{else}}{{localize 'ITEM.TypeTalent'}}
            {{/if}}
        </td>
        <td>{{key}}</td>
        <td>{{value}}</td>
        <td>{{localize (findConfigValue 'effectModes' mode)}}</td>
        {{#if ../flags.core.statusId}}<td></td>{{else}}
        <td class='button' style='text-align: left;' data-item-id={{../id}}>
            {{localize (concat 'HM.' ../disabled)}}
        </td>
        {{/if}}
    </tr>
    {{/each}}
{{/with}}{{/each}}
    </tbody>
</table>
</section>
