<form class='{{cssClass}}' autocomplete='off'>
    {{> 'systems/hackmaster5e/templates/item/parts/header-logistics.hbs' }}

    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='description'>Description</a>
        <a class='item' data-tab='attributes'>Attributes</a>
    </nav>

    <section class='sheet-body'>
        <div class='tab' data-group='primary' data-tab='description'>
            {{> 'systems/hackmaster5e/templates/item/parts/description.hbs' }}
        </div>

        {{#with data}} 
        <div class='tab attributes newform' data-group='primary' data-tab='attributes'>
            <div class='grid-2col' style='grid-template-columns: 12em 1fr;'>
                <section style="border-right: 1px solid black; padding-right: 10px;">
                <table class="table-basic">
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.dr'}}</label>
                        </td>
                        <td>
                            <input type='number' class='editable' value='{{system.bonus.base.dr}}'
                                   data-item-prop='system.bonus.base.dr' data-dtype='Number'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.defense'}}</label>
                        </td>
                        <td><input type='number' class='editable' value='{{system.bonus.base.def}}'
                                   data-item-prop='system.bonus.base.def' data-dtype='Number'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.initiative'}}</label>
                        </td>
                        <td><input type='number' class='editable' value='{{system.bonus.base.init}}'
                                   data-item-prop='system.bonus.base.init' data-dtype='Number'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.speed'}}</label>
                        </td>
                        <td><input type='number' class='editable' value='{{system.bonus.base.spd}}'
                                   data-item-prop='system.bonus.base.spd' data-dtype='Number'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.move'}}</label>
                        </td>
                        <td><input type='text' class='editable' value='{{pct system.bonus.base.move}}'
                                   data-item-prop='system.bonus.base.move' data-dtype='Percent'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.quality'}}</label>
                        </td>
                        <td><input type='number' class='editable' value='{{system.qn}}'
                                   data-item-prop='system.qn' data-dtype='Number'/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 99%; text-align: left;">
                            <label class='resource-label'>{{localize 'HM.fatiguefactor'}}</label>
                        </td>
                        <td><input type='number' class='editable' value='{{system.ff}}'
                                   data-item-prop='system.ff' data-dtype='Number'/>
                        </td>
                    </tr>
                </table>
                </section>
                <section name='specifics'>
                    <table class="table-basic">
                        <tr>
                            <td style="width: 99%; text-align: left;">
                                <label class='resource-label'>{{localize 'HM.proficiency'}}</label>
                            </td>
                            <td>
                                <input type='text' style='width: 8em; text-align: left; padding-left: 7px;' name='system.proficiency'
                                       value='{{system.proficiency}}' data-dtype='String'/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 99%; text-align: left;">
                                <label class='resource-label'>{{localize 'HM.armortype'}}</label>
                            </td>
                            <td>
                                <select name='system.armortype' style="width: 8em;" data-dtype='Number'>
                                    {{selectOptions (findConfigObj 'armorSelect') selected=system.armortype localize=true}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        {{/with}}
    </section>
</form>
