<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        {{#with data}}
        <div class="tab attributes newform" data-group="primary" data-tab="attributes">
            <div class='grid-2col' style='grid-template-columns: 50% 1fr; padding-top: 5px;'>
                <section name='options' style='padding-right: 10px; border-right: 1px solid;'>
                    <span class='form-option'>
                    <label class="resource-label">{{localize "HM.hp"}}</label>
                        <span>
                            <select name="system.scale.hp">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.hp localize=true}}
                            </select>
                            <input type="number" name="system.bonus.hp" value="{{system.bonus.hp}}"
                            {{#if system.scale.hp}}readonly{{/if}} data-dtype="Number"/>
                        </span>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.kb"}}</label>
                        <span>
                            <select name="system.scale.kb">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.kb localize=true}}
                            </select>
                            <input type="number" name="system.bonus.kb" value="{{system.bonus.kb}}"
                            {{#if system.scale.kb}}readonly{{/if}} data-dtype="Number"/>
                        </span>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.reach"}}</label>
                        <span>
                            <select name="system.scale.reach">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.reach localize=true}}
                            </select>
                            <input type="number" name="system.bonus.reach" value="{{system.bonus.reach}}"
                            {{#if system.scale.reach}}readonly{{/if}} data-dtype="Number"/>
                        </span>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">Token Diameter</label>
                        <span>
                            <select name="system.scale.token">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.token localize=true}}
                            </select>
                            <input type="number" name="system.bonus.token" value="{{system.bonus.token}}"
                            {{#if system.scale.token}}readonly{{/if}} data-dtype="Float"/>
                        </span>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.move"}}</label>
                        <span>
                            <select name="system.scale.move">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.move localize=true}}
                            </select>
                            <input type="text" class="editable" name="system.bonus.move" value="{{pct system.bonus.move}}"
                                {{#if system.scale.move}}
                                    readonly
                                {{else}}
                                    data-item-prop='system.bonus.move' data-dtype="Percent"
                                {{/if}}/>
                        </span>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.defense"}}</label>
                        <input type="number" name="system.bonus.def" value="{{system.bonus.def}}" placeholder=0 data-dtype="Number"/>
                    </span>
                    <span class='form-option'>
                        <label class="resource-label">Spell Failure Check</label>
                        <input type="number" name="system.bonus.sfc" value="{{system.bonus.sfc}}" placeholder=0 data-dtype="Number"/>
                    </span>
                    <hr>
                    <hr>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.adjective"}}</label>
                        <input type="text" placeholder="Elven" name="system.adj" value="{{system.adj}}" style='width: 12.3em;'
                        data-dtype="String"/>
                    </span>
                </section>
                <section>
                    {{#each system.abilities as |ability key|}}
                    <span class='form-option'>
                        <label for="system.mods.abilities.{{key}}.value" class="resource-label">
                            {{localize (findConfigValue "ability_long" key)}}
                        </label>
                        <span>
                            <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                            <label class="resource-label">
                        </span>
                    </span>
                    {{/each}}
                </section>
            </div>
        </div>
        {{/with}}
    </section>
</form>
