<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
         </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-form">
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.bp"}}:</label>
                            <input type="number" name="data.bp.value" value="{{data.data.bp.value}}" data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.universal"}}:</label>
                            <input type="checkbox" name="data.universal.checked" {{checked data.data.universal.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.tools"}}:</label>
                            <input type="checkbox" name="data.tools.checked" {{checked data.data.tools.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.specific"}}:</label>
                            <input type="checkbox" name="data.specific.checked" {{checked data.data.specific.checked}}/>
                        </div>
                    </div>
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.verbal"}}:</label>
                            <input type="checkbox" name="data.verbal.checked" {{checked data.data.verbal.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.literate"}}:</label>
                            <input type="checkbox" name="data.literate.checked" {{checked data.data.literate.checked}}/>
                        </div>
                    </div>
                </div>
                <div class="sidepanel">
                    <div class="options-block">
                        {{#each data.data.abilities as |ability key|}}
                        <div class="options-row">
                            <label class="resource-label">
                                {{localize (findConfigValue "ability_short" key)}}
                            </label>
                            <input type="checkbox" name="data.abilities.{{key}}.checked" {{checked ability.checked}}/>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="sidepanel">
                    <div class="options-block">
                        {{#if data.data.verbal.checked}}{{else}}
                        {{#if data.data.literate.checked}}{{else}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.mastery"}}:</label>
                            <input type="number" name="data.mastery.value" value="{{data.data.mastery.value}}" data-dtype="Number"/>
                        </div>
                        {{/if}}{{/if}}
                        {{#if data.data.verbal.checked}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.verbal"}} {{localize "HM.mastery"}}:</label>
                            <input type="number" name="data.verbal.value" value="{{data.data.verbal.value}}" data-dtype="Number"/>
                        </div>
                        {{/if}}
                        {{#if data.data.literate.checked}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.literate"}} {{localize "HM.mastery"}}:</label>
                            <input type="number" name="data.literate.value" value="{{data.data.literate.value}}" data-dtype="Number"/>
                        </div>
                        {{/if}}
                        {{#if data.data.specific.checked}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.specialty"}}:</label>
                            <input style="width: 100%;" type="text" name="data.specific.value" value="{{data.data.specific.value}}" data-dtype="String"/>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

