<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-4col">
                <div class="resource">
                    <label class="resource-label">{{localize "HM.hp_mod"}}</label>
                    <input type="number" name="data.hp.value" value="{{data.data.hp.value}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "HM.knockback"}}</label>
                    <input type="number" name="data.kb.value" value="{{data.data.kb.value}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "HM.reach_mod"}}</label>
                    <input type="number" name="data.reach.value" value="{{data.data.reach.value}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "HM.defense_mod"}}</label>
                    <input type="number" name="data.def.value" value="{{data.data.def.value}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="grid grid-2col">
                {{#each data.data.abilities as |ability key|}}
                    <div class="ability flexrow">
                        <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                        <input type="text" name="data.abilities.{{key}}.fvalue" value="{{ability.fvalue}}" data-dtype="Number"/>
                        <label for="data.mods.abilities.{{key}}.value" class="resource-label">
                            {{localize (findConfigValue "ability_short" key)}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div> 
    </section>
</form>
