<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        {{#with data}}
        <div class="tab attributes newform" data-group="primary" data-tab="attributes">
            <div class='grid-2col' style='grid-template-columns: 21em 1fr; padding-top: 5px;'>
                <table class="table-basic">
                    <tr>
                        <td><label class="resource-label">{{localize "HM.hp"}}</label></td>
                        <td>
                            <select name="system.scale.hp">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.hp localize=true}}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="system.bonus.hp" value="{{system.bonus.hp}}"
                                {{#if system.scale.hp}}readonly{{/if}} data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">{{localize "HM.kb"}}</label></td>
                        <td>
                            <select name="system.scale.kb">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.kb localize=true}}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="system.bonus.kb" value="{{system.bonus.kb}}"
                                {{#if system.scale.kb}}readonly{{/if}} data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">{{localize "HM.reach"}}</label></td>
                        <td>
                            <select name="system.scale.reach">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.reach localize=true}}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="system.bonus.reach" value="{{system.bonus.reach}}"
                                {{#if system.scale.reach}}readonly{{/if}} data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">Token Diameter</label></td>
                        <td>
                            <select name="system.scale.token">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.token localize=true}}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="system.bonus.token" value="{{system.bonus.token}}"
                                {{#if system.scale.token}}readonly{{/if}} data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">{{localize "HM.move"}}</label></td>
                        <td>
                            <select name="system.scale.move">
                                {{selectOptions (findConfigObj 'scale') selected=system.scale.move localize=true}}
                            </select>
                        </td>
                        <td>
                            <input type="text" class="editable" name="system.bonus.move" value="{{pct system.bonus.move}}"
                                {{#if system.scale.move}}
                                    readonly
                                {{else}}
                                    data-item-prop='system.bonus.move' data-dtype="Percent"
                                {{/if}}
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">{{localize "HM.defense"}}</label></td>
                        <td colspan="2">
                            <input type="number" name="system.bonus.def" value="{{system.bonus.def}}" placeholder=0 data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">Spell Failure Check</label></td>
                        <td colspan="2">
                            <input type="number" name="system.bonus.sfc" value="{{system.bonus.sfc}}" placeholder=0 data-dtype="Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="resource-label">{{localize "HM.adjective"}}</label></td>
                        <td colspan="2">
                            <input type="text"
                                   placeholder="Elven"
                                   name="system.adj"
                                   value="{{system.adj}}"
                                   style="width: auto;"
                                   data-dtype="String"/>
                        </td>
                    </tr>
                </table>
                <section style="border-left: 1px solid black; padding-left: 10px; padding-right: 5px;">
                    <table class="table-basic">
                        {{#each system.abilities as |ability key|}}
                        <tr>
                            <td style="width: 99%; text-align: left;">
                            <label for="system.mods.abilities.{{key}}.value" class="resource-label">
                                {{localize (findConfigValue "ability_long" key)}}
                            </label>
                            </td>
                            <td>
                                <input type="number"
                                       name="system.abilities.{{key}}.value"
                                       value="{{ability.value}}"
                                       data-dtype="Number"/>
                                <label class="resource-label">
                            </td>
                        {{/each}}
                        </tr>
                    </table>
                    <hr>
                    <table class="table-basic">
                        <tbody>
                            <tr>
                                <td style="width: 99%; text-align: left;">
                                    <label class="resource-label">BMI</label>
                                </td>
                                <td><label class="resource-label">Female</label></td>
                                <td><label class="resource-label">Male</label></td>
                            </tr>
                            <tr>
                                <td><label class="resource-label">Overweight</label></td>
                                <td>
                                    <input type="number"
                                           name="system.bmi.1.0"
                                           value="{{system.bmi.[1].[0]}}"
                                           placeholder="0"
                                           data-dtype="Number"/>
                                </td>
                                <td>
                                    <input type="number"
                                           name="system.bmi.1.1"
                                           value="{{system.bmi.[1].[1]}}"
                                           placeholder="0"
                                           data-dtype="Number"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="resource-label">Obese</label></td>
                                <td>
                                    <input type="number"
                                           name="system.bmi.2.0"
                                           value="{{system.bmi.[2].[0]}}"
                                           placeholder="0"
                                           data-dtype="Number"/>
                                </td>
                                <td>
                                    <input type="number"
                                           name="system.bmi.2.1"
                                           value="{{system.bmi.[2].[1]}}"
                                           placeholder="0"
                                           data-dtype="Number"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        {{/with}}
    </section>
</form>
