<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> "systems/hackmaster5e/templates/item/parts/header-logistics.hbs" }}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> "systems/hackmaster5e/templates/item/parts/logistics.hbs" }}
            <br>
            <div class="flex-group-center">
                <label class="resource-label">{{localize "HM.adjustments"}}</label>
                <div class="grid-5col">
                    <div class="resource">
                        <label class="resource-label">{{localize "HM.dr"}}</label>
                        <input type="number" name="data.dr.value" value="{{data.data.dr.value}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "HM.def"}}</label>
                        <input type="number" name="data.def.value" value="{{data.data.def.value}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "HM.init"}}</label>
                        <input type="number" name="data.init.value" value="{{data.data.init.value}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "HM.speed"}}</label>
                        <input type="number" name="data.spd.value" value="{{data.data.spd.value}}" data-dtype="Number"/>
                    </div>
                    <div class="resource">
                        <label class="resource-label">{{localize "HM.movece"}}</label>
                        <input type="number" name="data.movc.value" value="{{data.data.movc.value}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="grid grid-2col">
                <div class="resource">
                    <label class="resource-label">{{localize "HM.armortype"}}</label>
                    <select name="data.armortype" data-dtype="{{data.armortype}}">
                        {{#select data.data.armortype}}{{#each (findConfigObj "armortype") as |type t|}}
                            <option value="{{t}}">{{localize type}}</option>
                        {{/each}}{{/select}}
                    </select>
                </div>
                <div class="resource">
                    <label class="resource-label">{{localize "HM.quality"}}</label>
                    <input type="number" name="data.quality.value" value="{{data.data.quality.value}}" data-dtype="Number"/>
                </div>
            </div>
        </div> 
    </section>
</form>
