<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header-logistics.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        {{#with data}}
        <div class='tab attributes newform' data-group='primary' data-tab='attributes'>
            <div class='grid-2col' style='grid-template-columns: 40% 1fr; padding-top: 5px;'>
                <section name='options' class='col_rborder'>
                    <span class='form-option'>
                        <label class='resource-label'>{{localize 'HM.quality'}}</label>
                        <select name='system.qidx' data-dtype='{{system.qidx}}'>
                            {{selectOptions (findConfigObj 'qidx') selected=system.qidx localize=true}}
                        </select>
                    </span>
                    <span class='form-option'>
                        <label class='resource-label'>{{localize 'HM.container'}}</label>
                        <input type='checkbox' name='system.container.enabled' {{checked system.container.enabled}}/>
                    </span>
                </section>
                <section name='specifics'>
                    {{#if system.container.enabled}}
                    <span class='form-option'>
                        <label class='resource-label'>{{localize 'HM.contype'}}</label>
                        <select name='system.container.type' data-dtype='Number'>
                            {{selectOptions (findConfigObj 'containerType') selected=system.container.type localize=true}}
                        </select>
                    </span>
                    {{/if}}
                </section>
            </div>
        </div> 
        {{/with}}
    </section>
</form>
