<form class='{{cssClass}}' autocomplete='off'>
    {{> 'systems/hackmaster5e/templates/item/parts/header.hbs' }}

    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='description'>Description</a>
        <a class='item' data-tab='attributes'>Attributes</a>
    </nav>

    <section class='sheet-body'>
        <div class='tab' data-group='primary' data-tab='description'>
            {{> 'systems/hackmaster5e/templates/item/parts/description.hbs' }}
        </div>

        {{#with data}}
        <div class='tab newform' data-group='primary' data-tab='attributes'>
            <div class='grid-2col' style='grid-template-columns: 38% 1fr;'>
                <section name='options' class='col_rborder' style='padding-top: 5px;'>
                    <span class='form-option rjust' style='margin-right: 5px;'>
                        <label>{{localize 'HM.CCLASS.OPT.top'}}</label>
                        <input type='number' name='system.top_cf' value='{{system.top_cf}}' data-dtype='Float'/>
                    </span>
                    <span class='form-option rjust' style='margin-right: 5px;'>
                        <label>{{localize 'HM.CCLASS.OPT.hp'}}</label>
                        <input type='number' name='system.hp' value='{{system.hp}}' data-dtype='Number'/>
                    </span>
                    <hr>
                    {{#each system.features as |feature key|}}
                    <span class='form-option'>
                        <label>{{localize (concat 'HM.CCLASS.OPT.' key)}}</label>
                        <input type='checkbox' class='feature' data-feature='{{@key}}'
                               name='system.features.{{@key}}' {{checked feature}}/>
                    </span>
                    {{/each}}
                    <hr>
                    {{#each system.caps as |cap key|}}
                    <span class='form-option'>
                        <label>{{localize (concat 'HM.CCLASS.OPT.' key)}}</label>
                        <input type='checkbox' name='system.caps.{{@key}}' {{checked cap}}/>
                    </span>
                    {{/each}}
                </section>
                <section name='pTable'>
                    <table class='table-basic'>
                        <thead>
                            <tr>
                                <th scope='col'></th>
                                <th scope='col'>{{{localize 'HM.CCLASS.TABLE.hd'}}}</th>
                                <th scope='col'>{{{localize 'HM.CCLASS.TABLE.rhd'}}}</th>
                                {{#each system.features as |enabled feature|}}{{#if enabled}}
                                <th scope='col'>{{{localize (concat 'HM.CCLASS.TABLE.' feature)}}}</th>
                                {{/if}}{{/each}}
                            </tr>
                            <tbody>
                            {{#each system.ptable as |level lkey|}}
                                <tr>
                                    <th scope='row'>{{lkey}}</th>
                                    <td>
                                        <input type='text' name='system.ptable.{{lkey}}.hp.die'
                                        style='width:1em;' value='{{level.hp.die}}' data-dtype='String'/>
                                    </td>
                                    <td>
                                        <input type='checkbox' name='system.ptable.{{lkey}}.hp.reroll' {{checked level.hp.reroll}}/>
                                    </td>
                                {{#each ../system.features as |enabled feature|}}
                                    {{#if enabled}}
                                    <td>
                                        {{#if (eq 'slvl' feature)}}
                                            {{#with (lookup level 'slvl')}}
                                        <select name='system.ptable.{{lkey}}.slvl.value'>
                                                {{selectOptions (findConfigObj 'spellHybrid') selected=value localize=true}}
                                            {{/with}}
                                        </select>
                                        {{else}}
                                        <input name='system.ptable.{{lkey}}.{{feature}}.value'
                                        value='{{#with (lookup level feature)}}{{value}}{{/with}}'
                                               {{#if (eq feature 'back')}}type='text'
                                               {{else}}type='number' data-dtype='Number'{{/if}}/>
                                        {{/if}}
                                    </td>
                                    {{/if}}
                                {{/each}}
                                </tr>
                            {{/each}}
                            <tbody>
                        </thead>
                    </table>
                </section>
            </div>
        </div>
        {{/with}}
    </section>
</form>
