<form class="{{cssClass}}" autocomplete="off">
{{#with data.system}}
    <div class="newform">
        <section name='options'>
            <span class='form-option'>
                <label class="resource-label">{{localize "HM.hp"}}:</label>
                <input style="text-align: right; padding-right: 10px;" type="number" name="system.hp" value="{{hp}}" data-dtype="Number"/>
            </span>
            <span class='form-option'>
                <label class="resource-label">{{localize "HM.duration"}}:</label>
                <input style="text-align: right; padding-right: 10px" type="number" name="system.timer" value="{{timer}}" data-dtype="Number"/>
            </span>
            <span class='form-option'>
                <label class="resource-label">{{localize "HM.treated"}}:</label>
                <input type="checkbox" name="system.treated" {{checked treated}}/>
            </span>
            <span class='form-option'>
                <label class="resource-label">{{localize "HM.embedded"}}:</label>
                <input type="checkbox" name="system.isEmbedded" {{checked isEmbedded}}/>
            </span>
            <span class='form-option'>
                <label class="resource-label">{{localize "HM.embedded"}} {{localize "HM.level"}}:</label>
                <select
                    style="width: auto;"
                    name="system.embed"
                    data-dtype="{{embed}}"
                    {{#unless isEmbedded}}disabled{{/unless}}
                >
                    {{selectOptions (findConfigObj 'embedSelect' omit='-1') selected=embed localize=true}}
                </select>
            </span>
        </section>
    </div>
{{/with}}
</form>
