<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header-logistics.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-form">
                {{#with data.data}} 
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.dr"}}</label>
                            <input type="number" class="editable" value="{{bonus.base.dr}}"
                                data-item-prop="data.bonus.base.dr"
                                data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.def"}}</label>
                            <input type="number" class="editable" value="{{bonus.base.def}}"
                                data-item-prop="data.bonus.base.def"
                                data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.init"}}</label>
                            <input type="number" class="editable" value="{{bonus.base.init}}"
                                data-item-prop="data.bonus.base.init"
                                data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.speed"}}</label>
                            <input type="number" class="editable" value="{{bonus.base.spd}}"
                                data-item-prop="data.bonus.base.spd"
                                data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.move"}}</label>
                            <input type="text" class="editable" value="{{pct bonus.base.move}}"
                                style='width: 2.5rem; text-align: right;'
                                data-item-prop="data.bonus.base.move"
                                data-dtype="Percent"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.shield"}}</label>
                            <input type="checkbox" name="data.shield.checked" {{checked shield.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.quality"}}</label>
                            <input type="number" class="editable" value="{{qn}}"
                                data-item-prop="data.qn"
                                data-dtype="Number"/>
                        </div>
                    </div>
                </div>
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.proficiency"}}</label>
                            <input type="text" name="data.proficiency" value="{{proficiency}}"
                            data-dtype="String"/>
                        </div>
                        {{#if shield.checked}}{{else}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.armortype"}}</label>
                            <select name="data.armortype">
                                {{#select armortype}}{{#each (findConfigObj "armortype") as |type t|}}
                                    <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                            </select>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div> 
    </section>
</form>
