<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

{{#with item}}
<section class='sheet-body newform'>
        <div class='grid-2col' style='grid-template-columns: 30% 1fr; padding-top: 5px;'>
            <section name='options' style='padding-right: 10px; border-right: 1px solid;'>
                {{#each (objSort _currencyData 'value' reverse=true)}}
                <span class='form-option'>
                <label class='bold-label'>{{@key}}</label>
                <input class='editable' type='number' value='{{qty}}' data-item-prop='system.coins.{{@key}}.qty' data-dtype='uint'>
                </span>
                {{/each}}
            </section>
            <section>
                <span class='form-option'>
                    <label class='bold-label'>{{localize 'HM.issuer'}}</label>
                    <input class='editable' type='text' style='margin-left: 1em; margin-right: 3px; width: 100%;' value='{{system.issuer}}' data-item-prop='system.issuer' data-dtype='String'>
                </span>
            </section>
        </div>
    </section>
{{/with}}
</form>
