<form class="{{cssClass}}" autocomplete="off">
    <div class="item-form">
        {{#with data.data}}
        <div class="sidepanel">
            <div class="options-block">
                <div class="options-row">
                    <label class="resource-label">{{localize "HM.hp"}}:</label>
                    <input type="number" name="data.hp.value" value="{{data.data.hp.value}}" data-dtype="Number"/>
                </div>
                <div class="options-row">
                    <label class="resource-label">{{localize "HM.duration"}}:</label>
                    <input type="number" name="data.timer.value" value="{{data.data.timer.value}}" data-dtype="Number"/>
                </div>
                <div class="options-row">
                    <label class="resource-label">{{localize "HM.treated"}}:</label>
                    <input type="checkbox" name="data.treated.checked" {{checked data.data.treated.checked}}/>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</form>
