<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-form">
                {{#with data.data}}
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.level"}}</label>
                            <select name="data.lidx">
                                {{#select lidx}}{{#each (findConfigObj "spellLevels") as |type t|}}
                                <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                            </select>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.speed"}}</label>
                            <input type="number" name="data.speed.value" value="{{speed.value}}" data-dtype="Number"/>
                        </div>       
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.prayer"}}</label>
                            <input type="checkbox" name="data.divine.checked" {{checked divine.checked}}/>
                        </div>
                    </div>
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.verbal"}}</label>
                            <input type="checkbox" name="data.component.verbal.checked" {{checked component.verbal.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.somatic"}}</label>
                            <input type="checkbox" name="data.component.somatic.checked" {{checked component.somatic.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.material"}}</label>
                            <input type="checkbox" name="data.component.material.checked" {{checked component.material.checked}}/>
                        </div>
                        {{#if divine.checked}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.catalyst"}}</label>
                            <input type="checkbox" name="data.component.catalyst.checked" {{checked component.catalyst.checked}}/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.divine"}}</label>
                            <input type="checkbox" name="data.component.iconic.checked" {{checked component.iconic.checked}}/>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{#if divine.checked}}
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.patron"}}</label>
                            <input type="text" name="data.divine.value" value="{{divine.value}}" data-dtype="String"/>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/with}}
            </div>
        </div>
    </section>
</form>
