<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class='item' data-tab='description'>Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class='tab' data-group='primary' data-tab='description'>
            {{> 'systems/hackmaster5e/templates/item/parts/description.hbs' }}
        </div>
        
        {{#with data}}
        <div class="tab attributes newform" data-group="primary" data-tab="attributes">
            <div class='grid-2col' style='grid-template-columns: 30% 1fr; padding-top: 5px;'>
                <section name='options' class='col_rborder'>
                    <span class='form-option'>
                        <label class="resource-label">{{localize "HM.type"}}</label>
                        <select name='system.type' {{#if @root.item.parent}}disabled{{/if}}>
                        
                            {{selectOptions (findConfigObj 'talentSelect') selected=system.type localize=true}}
                        </select>
                    </span>
                </section>

                {{#if (eq system.type 0)}}
                <section name='weapon-talent'>
                    <span class='grid-2col'>
                        <span>
                            <span class='form-option'>
                                <label class="resource-label">{{localize "HM.ranged"}}</label>
                                <input type="checkbox" name="system.weapon.ranged" {{checked system.weapon.ranged}}>
                            </span>
                            <span class='form-option'>
                                <label class="resource-label">{{localize "HM.mechanical"}}</label>
                                <input type="checkbox" name="system.weapon.mechanical" {{checked system.weapon.mechanical}}
                                    {{#unless system.weapon.ranged}} disabled {{/unless}}>
                            </span>
                        </span>
                        <span style='padding-right: 5px; margin-top: -5px;'>
                            <table class='table-basic'>
                                <thead>
                                    <tr>
                                        <th scope='col'>{{localize 'HM.category'}}</th>
                                        <th scope='col' style='text-align: right; padding-right: 5px;'>{{localize 'HM.bonus'}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each system.bonus}}
                                    {{#unless (or
                                        (and (eq @key 'def') ../system.weapon.ranged)
                                        (and (eq @key 'reach') ../system.weapon.ranged)
                                        (and (eq @key 'dmg') ../system.weapon.mechanical)
                                    )}}
                                     <tr>
                                        <th scope='row'>{{localize (concat 'HM.statbonus.' @key)}}</th>
                                        <td class='button wtalent' width='99%' style='padding-right: 5px;' data-key='{{@key}}'>
                                            {{#if this}}{{localize 'HM.true'}}{{else}}{{localize 'HM.false'}}{{/if}}
                                        </td>
                                    </tr>
                                    {{/unless}}
                               {{/each}}
                                </tbody>
                            </table>
                        </span>
                    </span>
                </section>
                {{else}}
                <section name='effect-talent'>
                    {{#each effects}}
                    <table class='table-basic' disabled align="left" style='margin-top: 0;'>
                        <thead><tr data-effect-id={{_id}}>
                            <th scope='col' width='99%' style='text-align: left; padding-left: 5px;'>{{localize 'HM.UI.key'}}</th>
                            <th scope='col'>{{localize 'HM.UI.value'}}</th>
                            <th scope='col'>{{localize 'HM.UI.priority'}}</th>
                            <th scope='col' style='text-align: left; padding-left: 5px;'>{{localize 'HM.UI.mode'}}</th>
                            <th scope='col' class='button add-effect' {{#if @root.item.parent}}disabled{{/if}}>
                                <i class='fas fa-plus'></i>
                            </th>
                        </tr></thead>
                        <tbody>
                            {{#each changes}}
                            <tr data-effect-id={{../_id}} data-effect-idx={{@index}}>
                                <td width='99%'><span class='max-width'>
                                    <input type='text' class='edit-effect' value='{{key}}' style='text-align: left;'
                                        {{#if @root.item.parent}}disabled{{/if}} data-edit-key='key'> 
                                </span></td>
                                <td>
                                    <input type='text' class='edit-effect' value='{{value}}' style='text-align: left;'
                                        {{#if @root.item.parent}}disabled{{/if}} data-edit-key='value'>
                                </td>
                                <td>
                                    <input type='number' class='edit-effect' value='{{priority}}' style='text-align: left;'
                                        {{#if @root.item.parent}}disabled{{/if}} data-edit-key='priority'>
                                </td>
                                <td>
                                    <select name='mode' class='edit-effect' data-edit-key='mode'
                                        {{#if @root.item.parent}}disabled{{/if}}>
                                    {{selectOptions (findConfigObj 'effectModes') selected=mode localize=true}}
                                </select></td>
                                <td class='button delete-effect' {{#if (or (eq ../changes.length 1) @root.item.parent)}}disabled{{/if}}>
                                    <i class='fas fa-trash'></i>
                                </td>
                            </tr>
                            {{/each}}{{/each}}
                        </tbody>
                    </table>
                </section>
                {{/if}}
            </div>
        </div>
        {{/with}}
    </section>
</form>
