<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header-logistics.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-form">
                {{#with data.data}} 
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.dr"}}</label>
                            <input type="number" name="data.stats.dr.value" value="{{stats.dr.value}}" data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.def"}}</label>
                            <input type="number" name="data.stats.def.value" value="{{stats.def.value}}" data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.init"}}</label>
                            <input type="number" name="data.stats.init.value" value="{{stats.init.value}}" data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.speed"}}</label>
                            <input type="number" name="data.stats.spd.value" value="{{stats.spd.value}}" data-dtype="Number"/>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.shield"}}</label>
                            <input type="checkbox" name="data.shield.checked" {{checked shield.checked}}/>
                        </div>
                        <!--<div class="options-row">
                            <label class="resource-label">{{localize "HM.innate"}}</label>
                            <input type="checkbox" name="data.state.innate.checked" {{checked state.innate.checked}}/>
                        </div>-->
                    </div>
                </div>
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.proficiency"}}</label>
                            <input type="text" name="data.proficiency" value="{{proficiency}}"
                            data-dtype="String"/>
                        </div>
                        {{#if shield.checked}}{{else}}
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.armortype"}}</label>
                            <select name="data.armortype">
                                {{#select armortype}}{{#each (findConfigObj "armortype") as |type t|}}
                                    <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                            </select>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div> 
    </section>
</form>
