<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/hackmaster5e/templates/item/parts/header.hbs" }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/hackmaster5e/templates/item/parts/description.hbs" }}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-form">
                {{#with data.data}}
                <div class="sidepanel">
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.hp"}}</label>
                            <span>
                                <select name="data.scale.hp">
                                {{#select scale.hp}}{{#each (findConfigObj "scale") as |type t|}}
                                    <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                                </select>
                                <input type="number" name="data.bonus.hp" value="{{bonus.hp}}"
                                {{#if (ne scale.hp '0')}}readonly{{/if}} data-dtype="Number"/>
                            </span>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.kb"}}</label>
                            <span>
                                <select name="data.scale.kb">
                                {{#select scale.kb}}{{#each (findConfigObj "scale") as |type t|}}
                                    <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                                </select>
                                <input type="number" name="data.bonus.kb" value="{{bonus.kb}}"
                                {{#if (ne scale.kb '0')}}readonly{{/if}} data-dtype="Number"/>
                            </span>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.reach"}}</label>
                            <span>
                                <select name="data.scale.reach">
                                {{#select scale.reach}}{{#each (findConfigObj "scale") as |type t|}}
                                    <option value="{{t}}">{{localize type}}</option>
                                {{/each}}{{/select}}
                                </select>
                                <input type="number" name="data.bonus.reach" value="{{bonus.reach}}"
                                {{#if (ne scale.reach '0')}}readonly{{/if}} data-dtype="Number"/>
                            </span>
                        </div>
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.def"}}</label>
                            <input type="number" name="data.bonus.def" value="{{bonus.def}}" placeholder=0 data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="options-block">
                        <div class="options-row">
                            <label class="resource-label">{{localize "HM.adjective"}}</label>
                        </div><div class="options-row">
                            <input type="text" placeholder="Elven" name="data.adj" value="{{adj}}" data-dtype="String"/>
                        </div>
                    </div>
                </div>
                <div class="sidepanel">
                    <div class="options-block">
                        {{#each abilities as |ability key|}}
                        <div class="options-row">
                            <label for="data.mods.abilities.{{key}}.value" class="resource-label">
                                {{localize (findConfigValue "ability_short" key)}}
                            </label>
                            <span>
                                <input type="number" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                                <label class="resource-label">/</label>
                                <input type="number" name="data.abilities.{{key}}.fvalue" value="{{ability.fvalue}}" data-dtype="Number"/>
                                <label class="resource-label">%</label>
                            </span>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div> 
    </section>
</form>
